ion-content {
    --overflow: hidden !important;
    overflow: hidden !important;
}
ion-content ion-list {
    overflow: auto !important;
    height: calc(100vh - 165px) !important;
}

ion-content > div,
ion-content div.tab-content:not(.content-error) {
    overflow: auto !important;
    height: calc(100vh - 165px) !important;
}

.tab-content {
    padding-bottom: 120px !important;
}

