.appContainer {
    width: 100%;
    height: calc(100vh - 56px);
    overflow-y: auto !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch !important;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

ion-header ion-toolbar {
    ion-buttons {
        ion-button {
            ion-label {
                margin-top: 1px;
            }
        }
    }
}

ion-content {
    ion-toolbar {
        border-bottom: 1px solid #dedede;
        --min-height: 56px;
        min-height: 56px;

        ion-buttons {
            ion-button {
                ion-label {
                    margin-top: 1px;
                }
            }
        }
        
        ion-title {
            margin-top: -1px;
        }
    }
}

@supports (-webkit-touch-callout: none) {
    ion-content {
        min-height: 100%;
    }

    #ubindFrameContainer {
        padding-bottom: 60px;
    }
}
