<ion-header>
    <ion-toolbar class="level-1">
        <ng-container *ngIf='!layoutManager.splitPaneVisible then detailHeader'></ng-container>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible" class="level-2">
        <ng-container *ngTemplateOutlet="detailHeader"></ng-container>
    </ion-toolbar>

    <loader *ngIf='isLoading'></loader>

    <div *ngIf="!isLoading && !errorMessage">
        <pre><code [innerHTML]="highlightedMetadataXml"></code></pre>
    </div>

    <!--error-->
    <div *ngIf="errorMessage" class="tab-content content-error" [@contentAnimation]>
        <p text-center>{{ errorMessage }}</p>
    </div>
</ion-content>

<ng-template #detailHeader>
    <ion-buttons slot="start">
        <ion-button id="arrow-back-ion-button" slot="icon-only" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
        {{ title }}
    </ion-title>
    <ion-buttons slot="end">
        <app-entity-action-button-list [actionButtonList]="actionButtonList">
        </app-entity-action-button-list>
    </ion-buttons>
</ng-template>