<ion-list class="entity-list custom-popover" lines="none" style="margin: -1px 0 0">
    <ng-container *ubAllowAccess="permission.ManageTenants">
        <button *ngIf="canEditTenant && segment == 'Details'" (click)="onEdit()" button>
            <library-icon name="pencil" [library]="iconLibrary.AngularMaterial" [cssClass]="'start'"></library-icon>
            <ion-label>Edit Tenant</ion-label>
        </button>
    </ng-container>
    <ng-container *ubAllowAccess="permission.ManageTenants">
        <button *ngIf="tenantIsDisabled && segment == 'Details'" (click)="onEnableTenant()" button>
            <library-icon name="toggle-switch" [library]="iconLibrary.AngularMaterial" [cssClass]="'start mat-icon-sm'"></library-icon>
            <ion-label>Enable Tenant</ion-label>
        </button>
    </ng-container>
    <ng-container *ubAllowAccess="permission.ManageTenants">
        <button *ngIf="!tenantIsDisabled && segment == 'Details'" (click)="onDisableTenant()" button>
            <library-icon name="toggle-switch-off" [library]="iconLibrary.AngularMaterial" [cssClass]="'start mat-icon-sm'"></library-icon>
            <ion-label>Disable Tenant</ion-label>
        </button>
    </ng-container>
    <ng-container *ubAllowAccess="permission.ManageTenants">
        <button *ngIf="segment == 'Details'" (click)="onDeleteTenant()" button>
            <library-icon name="trash" [library]="iconLibrary.IonicV4" [cssClass]="'start'"></library-icon>
            <ion-label>Delete Tenant</ion-label>
        </button>
    </ng-container>
    <ng-container>
        <button *ngIf="canCreateProduct" (click)="onCreateProduct()" button>
            <library-icon name="plus" [library]="iconLibrary.AngularMaterial" [cssClass]="'start mat-icon-sm'"></library-icon>
            <ion-label>Create Product</ion-label>
        </button>
    </ng-container>
    <ng-container>
        <button *ngIf="canCreateOrganisation" (click)="onCreateOrganisation()" button>
            <ion-icon name='add' class="start"></ion-icon>
            <ion-label>Create Organisation</ion-label>
        </button>
    </ng-container>
</ion-list>