ion-title {
    padding: 0 12px !important;
}

ion-button:hover {
    opacity: 0.8 !important;
}

.accountForm.account-creation {
    margin-bottom: 8px;
}

.account-container {
    .login-method:first-child {
        margin-top: 0;
    }

    .login-method.local-account {
        ion-list {
            /* ensure there's room to show the shadow around buttons */
            padding: 5px;
            margin: -5px;
        }
    }
}

ion-card ion-card-content {
    padding-bottom: 16px;
}

.login-method {
    margin-top: 8px;

    .login-button-container {
        /* ensure there's room to show the shadow around buttons */
        padding: 5px;
        margin: -5px;
    }

    a.forgot-password {
        font-weight: 500;
        display: block;
        margin-top: 8px !important;
        margin-bottom: 15px !important;
    }
    
    button {
        width: 100%;
        height: 44px;

        .button-content {
            display: flex;

            .icon {
                height: 26px;
                width: auto;
                max-width: 100px;
                min-width: 26px;
                margin: auto 0;
            }
        }
    }    

    .has-icon {
        button {
            text-align: left;
    
            .button-label {
                padding-left: 20px;
            }

            img {
                font-size: 10px;
            }
        }
    }
}

button.local-account {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    text-transform: uppercase;

    span {
        color: var(--ion-color-primary-contrast);
    }
}

.custom-auth button {
    color: white;
}


.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.divider hr {
    flex-grow: 1;
    border: none;
    height: 0;
    border-top: 1px solid #a8a8a8;
    margin: 0 2px;
}

.divider span {
    padding: 0 8px;
    color: #a8a8a8;
}

.self-registration {
    margin-top: 18px;
    text-align: center;

    p {
        font-size: 14px;
    }
}

h2 {
    text-align: left;
    color: var(--ion-color-primary);
}
