syntax: glob
*.user
*.suo
**/obj/**
**/bin/**
**/packages/*
!**/packages/TMS.FlexCel.7.9.0
**/TestResults/*
**/node_modules
**/dist
**/ubind.js
*.orig
*.rej
*.log
*.mdf
*.ldf
*.js.map
**/test-reports/**
**/logs/**

# Visual Studio 2015 cache/options directory
.vs/
.vscode
**/ionic2-e2e-example
web.debug.config
/Code/UBind.Web/uBindPortal/node_modules
/Code/UBind.Web/ClientQuoterApp/src/assets/ubind.js
/Code/UBind.Web/ClientQuoterApp/src/assets/ubind.js.map
Code/UBind.Web/ClientQuoterApp/ubindjs/ubind_big.js
/Code/UBind.Injection/node_modules
/Code/UBind.Injection/dist
/Code/UBind.Web/webFormApp/ubindjs/ubind.js.map
/Code/UBind.Web/webFormApp/ubindjs/ubind.js
UpgradeLog*.XML
UpgradeLog*.htm
/Code/UBind.Web/webFormApp/dist
/Code/UBind.Web/webFormApp/node_modules
/Code/UBind.Web/ClientQuoterApp
/Code/UBind.Web/LuceneIndexes
Code/UBind.Web/webFormApp/src/assets/ubind.js
Code/UBind.Web/webFormApp/src/assets/ubind.js.map
/Code/UBind.Web/appsettings.development.json
/Code/UBind.Web/LuceneIndexes*
/Code/UBind.PortalApp/node_modules
/Code/UBind.PortalApp/dist
/Code/UBind.FormsApp/node_modules
/Code/UBind.FormsApp/dist
/Code/UBind.FormsApp/ubindjs/ubind.js.map
/Code/UBind.FormsApp/ubindjs/ubind.js
/Code/UBind.FormsApp/src/assets/ubind.js
/Code/UBind.FormsApp/src/assets/ubind.js.map
/Code/UBind.Web/webFormApp/.cache
/Code/UBind.Web/webFormApp
/Code/UBind.Web/uBindPortal
/Code/UBind.FormsApp/.cache/14.2.12
