<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>    
            Field Event Log
        </mat-panel-title>
        <mat-panel-description>
           Add console logging for field events
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
        <div class="field-path-input">
            <mat-form-field>
                <input matInput placeholder="Enter the fieldPath of a field" formControlName="fieldPath">
            </mat-form-field>
            <button mat-icon-button (click)="addButtonClicked()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let fieldPath of fieldPaths; index as index">
                <div class="field-path-row">
                    <span class="debug">
                        <div class="debug-property">
                            <span class="key">FieldPath:</span><span class="value"> {{ fieldPath }}</span>&nbsp;&nbsp;
                        </div>    
                    </span>
                    <button mat-icon-button color="accent" (click)="removeButtonClicked(index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>        
        </mat-list>        
    </form>
</mat-expansion-panel>
