@model UBind.Application.Export.ViewModels.ApplicationEventViewModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Deposit Assure</title>
</head>
<body style="margin:0; font-family:Arial, Helvetica, sans-serif; font-size: 15px; color:#4F4F4F; ">

    <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%" >
        <tr>
            <td>
                <table cellspacing="0" cellpadding="10" border="0" width="100%">
                    <tr>
                        <td valign="top" align="center">
                            <img src="https://www.depositassure.com.au/wp-content/themes/deposit-assure/images/da_logo_website.png" alt="logo" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#23a44d">
                    <tr class="spacer">
                        <td><br /></td>
                    </tr>                    
                    <tr>
                        <td valign="top" align="center">
                            <h1 style="color: #ffffff;">Thank you for contacting Deposit Assure’s Concierge team.</h1>
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td><br /></td>
                    </tr>                    
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" bgcolor="#ffffff">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width:850px;">
                    <tr>
                        <td>
                            <h3>Next steps:</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ol>
                                <li>The team will prepare the deposit bond application;</li>
                                <li>The application will be emailed to all applicants for signing with Docusign;</li>
                                <li>Once the application is signed, we can have an approval within 1 business hour.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Payment for the deposit bond fee:</p></td>
                    </tr>
                    <tr>
                        <td><p>Applicants will receive a link to pay for the deposit bond fee by credit card or debit card. If for any reason the deposit bond is not approved, Deposit Assure will refund the full fee.</p></td>
                    </tr>                    
                    <tr>
                        <td><p>If you have any queries, please email <a href="mailto:bonds@depositassure.com.au">bonds@depositassure.com.au</a></p></td>
                    </tr>                    
                    <tr>
                        <td><p>Thank you for your support and trust in Deposit Assure.</p></td>
                    </tr>                      
                    <tr>
                        <td><p>Deposit Assure - Concierge Team</p></td>
                    </tr>                    
                </table>
            </td>
        </tr>
        <tr class="spacer">
            <td><br /></td>
        </tr>           
    </table>


</body>
</html>
