<app-detail-list-item-edit-form
                      class="detail-list-item-edit-form"
                      [title]="filterQuoteTitle"
                      [items]="filterSortDetails"
                      [editForm]="quoteFilterSortForm"
                      [fieldsOptions]="fieldOptions"
                      [saveTitle]="saveTitle"
                      [isLoading]="isLoading"
                      (saveForm)="applyChanges($event)"
                      (closeForm)="returnToPrevious()"></app-detail-list-item-edit-form>
