<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="HangfirePro" value="https://nuget.hangfire.io/nuget/hangfire-pro/v3/index.json" />
    <add key="uBind Private Nuget" value="https://nuget.ubind.io/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <HangfirePro>
      <add key="Username" value="uBind" />
      <add key="ClearTextPassword" value="ma6fHuxjArGf2cf8" />
    </HangfirePro>
  </packageSourceCredentials>
</configuration>

