<ion-header>
    <ion-toolbar class="level-1">
        <ion-title role="heading" aria-level="1">Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'vertical-align-content': !layoutManager.isMobile()}">

    <loader *ngIf="isLoading"></loader>

    <!--Desktop/Tablet UI-->
    <ion-card class="account-card" *ngIf="!layoutManager.isMobile()">
        <ion-card-header>
            <ion-card-title>Forgot Password</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="account-container ion-no-margin" full>
                <ng-container [ngTemplateOutlet]="requestResetFormTemplate"></ng-container>
            </div>
        </ion-card-content>
    </ion-card>

    <!--Mobile UI-->
    <div class="account-container ion-no-margin" full *ngIf="layoutManager.isMobile()">
        <ng-container [ngTemplateOutlet]="requestResetFormTemplate"></ng-container>
    </div>

</ion-content>

<app-powered-by class="left"></app-powered-by>

<ng-template #requestResetFormTemplate>
    <form [formGroup]="requestPasswordForm" (ngSubmit)="userDidTapResetPassword(requestPasswordForm.value)">

        <ion-item *ngIf="errorDisplay" class="error">
            <ion-label color="danger">{{ errorDisplay }}</ion-label>
        </ion-item>

        <ion-list lines="none" class="ion-padding">
            <p>
                To reset your password, please enter your email address below and request an email with a reset link
                to reset your password.
            </p>

            <div class="accountForm ion-margin-bottom">
                <ion-item class="input" [class.ng-touched]="requestPasswordForm.get('email').touched && requestPasswordForm.get('email').errors">
                    <ion-label color="primary" position="floating">Email</ion-label>
                    <ion-input formControlName="email" type="text" required></ion-input>
                </ion-item>
                <div class="error">
                    <div class="account-error" *ngIf="requestPasswordForm.get('email').hasError('required') &&  (formHasError || requestPasswordForm.get('email').touched)">
                        Email address is required
                    </div>
                    <div class="account-error" *ngIf="requestPasswordForm.get('email').hasError('email') && (formHasError || requestPasswordForm.get('email').touched)">
                        Your email must be a valid email address
                    </div>
                </div>

            </div>
            <ion-button expand="block" type="submit">Send Reset Link</ion-button>
            <ion-button class="ion-margin-top" expand="block" color="light" type="button" (click)="userDidTapCancel()">Cancel</ion-button>

        </ion-list>
    </form>
</ng-template>
