ion-list {
    margin-top: 10px !important;

    ion-list-header {
        margin-bottom: -5px;
        padding-left: 0px;
    }

    ion-item {
        --background-focused: none;
        --background-hover: none;
        --ripple-color: transparent !important;

        ion-label.checkbox-label {
            margin-left: 10px;
        }

        ion-label.item-input-label {
            color: #a0a0a0;
            margin-top: 21px;
            margin-bottom: 0px;
            font-size: 14px;
            margin-left: 0px;
        }

        ion-checkbox {
            margin: 3px 3px 3px 0px
        }

        ion-checkbox:focus {
            outline: none;
        }
    }
}

div {
    padding-top: 10px;
}

.item-label.item-label-stacked.item-has-focus .item-input-label {
    color: var(--form-field-focused-label-color);
}