<ion-header>
    <ion-toolbar class="level-1">
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot="start">
            <ion-button slot="icon-only" (click)="userDidTapCloseButton(passwordExpirySettingsForm.value)">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!layoutManager.splitPaneVisible">Password Expiry</ion-title>
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot="end">
            <ion-button (click)="userDidTapSaveButton(passwordExpirySettingsForm.value)">
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <loader *ngIf="isLoading"></loader>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible && !isLoading" class="level-2">
        <ion-buttons slot="start">
            <ion-button slot="icon-only" (click)="userDidTapCloseButton(passwordExpirySettingsForm.value)">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Password Expiry</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="userDidTapSaveButton(passwordExpirySettingsForm.value)">
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div appScrollDetails>
        <form [formGroup]="passwordExpirySettingsForm" *ngIf="!isLoading && !errorMessage">
            <!--Enable password expiry-->
            <ion-list lines="none" inset>
                <ion-list-header>
                    <ion-label>
                        <strong>Enable Password Expiry</strong>
                    </ion-label>
                </ion-list-header>
    
                <!--Heading content-->
                <div>If password expiry is enabled, all users must reset their password after a configurable number of
                    days.
                </div>
    
                <div>When a password has expired, an email with a link to reset the
                    password will automatically be sent to the user the next time they try to log in.
                </div>
    
                <ion-item>
                    <ion-label class="checkbox-label">
                        <strong>Enable password expiry</strong>
                    </ion-label>
                    <ion-checkbox slot='start' formControlName="passwordExpiryEnabled" [checked]="isPasswordExpiryEnabled"
                        (ionChange)='toggleIsPasswordExpiryEnabled()'>
                    </ion-checkbox>
                </ion-item>
            </ion-list>
    
            <!--Expiry Period -->
            <ion-list lines="none" *ngIf="isPasswordExpiryEnabled" inset>
                <ion-list-header>
                    <ion-label>
                        <strong>Expiry Period</strong>
                    </ion-label>
                </ion-list-header>
    
                <!--Heading content-->
                <div>
                    Please enter the number of days after which passwords will expire.
                </div>
    
                <ion-item class="input"
                    [class.ng-touched]="formHasError || (passwordExpirySettingsForm.get('maxPasswordAgeDays').touched && passwordExpirySettingsForm.get('maxPasswordAgeDays').errors)">
                    <ion-label class="item-input-label" position="stacked">Expiry Days</ion-label>
                    <ion-input formControlName="maxPasswordAgeDays" (ionBlur)="onBlur(passwordExpirySettingsForm.value)">
                    </ion-input>
                </ion-item>
                <div class="error"
                    *ngIf="(passwordExpirySettingsForm.get('maxPasswordAgeDays').errors && passwordExpirySettingsForm.get('maxPasswordAgeDays').touched) || formHasError">
                    This field must only contain numerical characters
                </div>
            </ion-list>
        </form>
        <div *ngIf="errorMessage" class="tab-content content-error" [@contentAnimation]>
            <p class="ion-text-center">
                {{ errorMessage }}
            </p>
        </div>
    </div>
</ion-content>