<app-entity-list [title]="title"
                 [listItemNamePlural]="'my messages'"
                 [entityRouteParamName]="'id'"
                 [entityLoaderService]="messageService"
                 [viewModelConstructor]="viewModelConstructor"
                 [itemTemplate]="messageListItemTemplate"
                 [sortOptions]="sortOptions"
                 [filterByDates]="filterByDates"
                 (listQueryParamsGenerated)="onListQueryParamsGenerated($event)"
                 [entityTypeName]="'Message'"
                 [entityPathSegment]="'my-message'"
                 [ngStyle]="{'height': '100%'}"
                 [itemSelectedHandler]="itemSelected.bind(this)">
</app-entity-list>

<ng-template #messageListItemTemplate let-item>
    <library-icon [name]="item.type === 'email' ? 'mail' : 'text'"
        [library]="iconLibrary.IonicV4"
        [slot]="'start'"
        [size]="'large'"
        [cssClass]="'align-icon'">
    </library-icon>
    <ion-label class='long-label ion-text-wrap' ellipsis>
        <div class="ion-text-wrap" ellipsis>{{ item.recipient }}</div>
        <p class="ion-text-wrap" ellipsis>{{ item.subject }}</p>
    </ion-label>
    <ion-label class="ion-text-wrap ion-text-end" slot="end">
        <ion-icon color="dark" *ngIf="item.hasAttachment" name="attach" slot="end" class="icon-pull-right" size="small"></ion-icon>
        <p class="grayed-label">{{ item.createdDateTime | date: "hh:mm aaa" }}</p>
    </ion-label>
</ng-template>