@model UBind.Application.Export.ViewModels.ApplicationEventViewModel

<p style="font-family: Arial; font-size:13px;">Hi @Model.Form["contactName"],</p>

<p style="font-family: Arial; font-size:13px;">Thank you for requesting a call-back regarding our Portable Electronics Console Cover product.</p>

<p style="font-family: Arial; font-size:13px;">A member of our team will contact you shortly using the details provided.</p>

<p style="font-family: Arial; font-size:13px;">Kind regards,<br /><br />The Thunder Insurance Team<br /><a href="tel:1300000000">1300 000 000</a><br /><a href="mailto:contact@thunderinsurance.com.au">contact@thunderinsurance.com.au</a></p>