<ion-header>
    <ion-toolbar class="level-1">
        <ng-container *ngIf='!layoutManager.splitPaneVisible then detailHeader'></ng-container>
    </ion-toolbar>
    <ng-container *ngIf='!layoutManager.splitPaneVisible then segmentList'></ng-container>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible" class="level-2">
        <ng-container *ngTemplateOutlet="detailHeader"></ng-container>
    </ion-toolbar>

    <ng-container *ngIf='layoutManager.splitPaneVisible then segmentList'></ng-container>

    <loader *ngIf='isLoading'></loader>

    <div *ngIf="!isLoading && !errorMessage">
        <div [ngSwitch]="segment">
            <!-- Details -->
            <div *ngSwitchCase="'Details'">
                <app-entity-details-list [@contentAnimation]
                                         [detailsListItems]="detailsListItems"
                                         [hasItemLines]="false"
                                         [hasGroupLines]="true"
                                         [truncateDescription]="true">
                </app-entity-details-list>
            </div>

            <!-- Questions -->
            <div *ngSwitchCase="'Questions'" class="tab-content" [@contentAnimation]>
                <app-questions-view [displayType]="displayType"
                                    [questionItems]="questionItems"
                                    [repeatingQuestionItems]="repeatingQuestionItems"></app-questions-view>
            </div>

            <!-- Premium -->
            <div *ngSwitchCase="'Premium'" class="tab-content" [@contentAnimation]>
                <app-premium-policy-view [policyId]="policyId"></app-premium-policy-view>
            </div>

            <!-- History -->
            <div *ngSwitchCase="'History'" class="tab-content" [@contentAnimation]>
                <app-history-policy-view [policyId]="policyId" (policyHistoryEvent)="onPolicyHistoryEvent($event)"></app-history-policy-view>
            </div>

            <!-- Documents -->
            <div *ngSwitchCase="'Documents'" class="tab-content" [@contentAnimation]>
                <app-document-policy-view [policyId]="policyId" [quoteOrPolicyTransactionId]="quoteId"></app-document-policy-view>
            </div>

            <!-- Claims -->
            <div *ngSwitchCase="'Claims'" class="tab-content" [@contentAnimation]>
                <app-claim-policy-view [policyId]="policyId"></app-claim-policy-view>
            </div>

            <!-- Emails -->
            <div *ngSwitchCase="'Messages'" class="tab-content-no-padding" [@contentAnimation]>
                <app-email-view [entityId]="policyId" [entityType]="entityTypes.Policy"></app-email-view>
            </div>

        </div>
    </div>

    <!--error-->
    <div *ngIf="errorMessage" class="tab-content content-error" [@contentAnimation]>
        <p class="ion-text-center">{{ errorMessage }}</p>
    </div>
</ion-content>

<ng-template #segmentList>
    <ion-segment id="detail-product-segment" scrollable="true"
                 [value]="segment" (ionChange)="segmentChanged($event)" scrollHorizontal scrollMousedrag [segmentSelectedScrollIntoView]="segment">
        <ion-segment-button ionSegmentButtonEvent value="Details">
            <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button ionSegmentButtonEvent value="Questions">
            <ion-label>Questions</ion-label>
        </ion-segment-button>
        <ion-segment-button ionSegmentButtonEvent value="Premium">
            <ion-label>{{ isMutual ? 'Contribution' : 'Premium'  }}</ion-label>
        </ion-segment-button>
        <ng-container *ubAllowAccess="permission.ViewClaims, permissionModel: permissionModel">
            <ion-segment-button ionSegmentButtonEvent value="Claims" *ngIf="hasClaimConfigurationAndPortalFeature">
                <ion-label>Claims</ion-label>
            </ion-segment-button>
        </ng-container>
        <ng-container *ubAllowAccess="permission.ViewMessages, permissionModel: permissionModel">
            <ion-segment-button ionSegmentButtonEvent value="Messages">
                <ion-label>Messages</ion-label>
            </ion-segment-button>
        </ng-container>
        <ion-segment-button ionSegmentButtonEvent value="History">
            <ion-label>History</ion-label>
        </ion-segment-button>
        <ion-segment-button ionSegmentButtonEvent value="Documents">
            <ion-label>Documents</ion-label>
        </ion-segment-button>
    </ion-segment>
</ng-template>

<ng-template #detailHeader>
    <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot='start'>
        <ion-button slot="icon-only" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
        <span class="ion-title" *ngIf="!layoutManager.splitPaneVisible">{{ isMutual ? 'Protection:' : 'Policy:'  }}</span>
        <span class="ion-title" *ngIf="detail">{{ policyNumber }}: {{ detail.productName }}</span>
    </ion-title>
    <ion-buttons slot="end">
        <app-entity-action-button-list
            [actionButtonList]="actionButtonList"
            [getMoreButtonCallback]="showMenu.bind(this)"
            [canShowMore]="canShowMoreButton || (actions?.length > 0 && hasActionsIncludedInMenu)"
            [flipMoreIcon]="flipMoreIcon">
        </app-entity-action-button-list>
    </ion-buttons>
</ng-template>
