$icon-font-family: "glyphicons-regular" !default;
$icon-font-path: "/assets/fonts" !default;

$glyphicon-adjust: "\e950";
$glyphicon-airplane: "\e951";
$glyphicon-anchor: "\e952";
$glyphicon-announcement: "\e953";
$glyphicon-archive: "\e954";
$glyphicon-arrow-down: "\e955";
$glyphicon-arrow-left: "\e956";
$glyphicon-arrow-right: "\e957";
$glyphicon-arrow-thin-down: "\e958";
$glyphicon-arrow-thin-left: "\e959";
$glyphicon-arrow-thin-right: "\e95a";
$glyphicon-arrow-thin-up: "\e95b";
$glyphicon-arrow-up: "\e95c";
$glyphicon-axes-three-dimensional: "\e95d";
$glyphicon-axes-two-dimensional: "\e95e";
$glyphicon-bank: "\e95f";
$glyphicon-barcode: "\e960";
$glyphicon-bars: "\e961";
$glyphicon-basket: "\e962";
$glyphicon-basket-in: "\e963";
$glyphicon-basket-out: "\e964";
$glyphicon-battery-charged: "\e965";
$glyphicon-battery-charging: "\e966";
$glyphicon-battery-half: "\e967";
$glyphicon-battery-low: "\e968";
$glyphicon-battery-off: "\e969";
$glyphicon-battery-quarter: "\e96a";
$glyphicon-battery-three-quarters: "\e96b";
$glyphicon-bell: "\e96c";
$glyphicon-bell-off: "\e96d";
$glyphicon-bin: "\e96e";
$glyphicon-bluetooth: "\e96f";
$glyphicon-bold: "\e970";
$glyphicon-book: "\e971";
$glyphicon-bookmark: "\e972";
$glyphicon-briefcase: "\e973";
$glyphicon-building: "\e974";
$glyphicon-calendar: "\e975";
$glyphicon-call: "\e976";
$glyphicon-camera: "\e977";
$glyphicon-car: "\e978";
$glyphicon-cart: "\e979";
$glyphicon-cart-in: "\e97a";
$glyphicon-cart-out: "\e97b";
$glyphicon-chat-conversation: "\e97c";
$glyphicon-chat-message: "\e97d";
$glyphicon-check: "\e97e";
$glyphicon-chevron-down: "\e97f";
$glyphicon-chevron-last-down: "\e980";
$glyphicon-chevron-last-left: "\e981";
$glyphicon-chevron-last-right: "\e982";
$glyphicon-chevron-last-up: "\e983";
$glyphicon-chevron-left: "\e984";
$glyphicon-chevron-right: "\e985";
$glyphicon-chevron-thin-down: "\e986";
$glyphicon-chevron-thin-left: "\e987";
$glyphicon-chevron-thin-right: "\e988";
$glyphicon-chevron-thin-up: "\e989";
$glyphicon-chevron-up: "\e98a";
$glyphicon-circle-alert: "\e98b";
$glyphicon-circle-check: "\e98c";
$glyphicon-circle-down: "\e98d";
$glyphicon-circle-empty: "\e98e";
$glyphicon-circle-info: "\e98f";
$glyphicon-circle-left: "\e990";
$glyphicon-circle-menu: "\e991";
$glyphicon-circle-minus: "\e992";
$glyphicon-circle-more: "\e993";
$glyphicon-circle-play: "\e994";
$glyphicon-circle-plus: "\e995";
$glyphicon-circle-question: "\e996";
$glyphicon-circle-remove: "\e997";
$glyphicon-circle-right: "\e998";
$glyphicon-circle-selected: "\e999";
$glyphicon-circle-up: "\e99a";
$glyphicon-clean: "\e99b";
$glyphicon-clock: "\e99c";
$glyphicon-cloud: "\e99d";
$glyphicon-cloud-off: "\e99e";
$glyphicon-code: "\e99f";
$glyphicon-coffee-mug: "\e9a0";
$glyphicon-cogwheel: "\e9a1";
$glyphicon-compass: "\e9a2";
$glyphicon-compound: "\e9a3";
$glyphicon-computer: "\e9a4";
$glyphicon-construction-cone: "\e9a5";
$glyphicon-contrast: "\e9a6";
$glyphicon-copy-duplicate: "\e9a7";
$glyphicon-credit-card: "\e9a8";
$glyphicon-credit-card-off: "\e9a9";
$glyphicon-crown: "\e9aa";
$glyphicon-cursor: "\e9ab";
$glyphicon-cutlery: "\e9ac";
$glyphicon-dashboard: "\e9ad";
$glyphicon-database: "\e9ae";
$glyphicon-dice: "\e9af";
$glyphicon-direction: "\e9b0";
$glyphicon-disappearing: "\e9b1";
$glyphicon-division: "\e9b2";
$glyphicon-dock: "\e9b3";
$glyphicon-door-handle: "\e9b4";
$glyphicon-drop: "\e9b5";
$glyphicon-drop-off: "\e9b6";
$glyphicon-education: "\e9b7";
$glyphicon-eject: "\e9b8";
$glyphicon-email: "\e9b9";
$glyphicon-empty: "\e9ba";
$glyphicon-envelope: "\e9bb";
$glyphicon-equals: "\e9bc";
$glyphicon-eraser: "\e9bd";
$glyphicon-exchange: "\e9be";
$glyphicon-eye: "\e9bf";
$glyphicon-eye-off: "\e9c0";
$glyphicon-fan: "\e9c1";
$glyphicon-file1: "\e9c2";
$glyphicon-filter: "\e9c3";
$glyphicon-filter-off: "\e9c4";
$glyphicon-fingerprint: "\e9c5";
$glyphicon-fire: "\e9c6";
$glyphicon-flag: "\e9c7";
$glyphicon-flag-triangle: "\e9c8";
$glyphicon-flash: "\e9c9";
$glyphicon-folder1: "\e9ca";
$glyphicon-folder-open1: "\e9cb";
$glyphicon-forward: "\e9cc";
$glyphicon-fullscreen: "\e9cd";
$glyphicon-fullscreen-off: "\e9ce";
$glyphicon-gift: "\e9cf";
$glyphicon-globe: "\e9d0";
$glyphicon-hard-drive: "\e9d1";
$glyphicon-hash: "\e9d2";
$glyphicon-header: "\e9d3";
$glyphicon-headphones: "\e9d4";
$glyphicon-heart: "\e9d5";
$glyphicon-heart-empty: "\e9d6";
$glyphicon-home: "\e9d7";
$glyphicon-hourglass: "\e9d8";
$glyphicon-inbox: "\e9d9";
$glyphicon-initial-letter: "\e9da";
$glyphicon-italic: "\e9db";
$glyphicon-key: "\e9dc";
$glyphicon-layers: "\e9dd";
$glyphicon-leaf: "\e9de";
$glyphicon-link: "\e9df";
$glyphicon-link-remove: "\e9e0";
$glyphicon-list: "\e9e1";
$glyphicon-lock: "\e9e2";
$glyphicon-lock-off: "\e9e3";
$glyphicon-lock-open: "\e9e4";
$glyphicon-log-in: "\e9e5";
$glyphicon-log-out: "\e9e6";
$glyphicon-magnet: "\e9e7";
$glyphicon-man: "\e9e8";
$glyphicon-man-woman-compact: "\e9e9";
$glyphicon-map-marker: "\e9ea";
$glyphicon-memory-card: "\e9eb";
$glyphicon-menu: "\e9ec";
$glyphicon-menu-close: "\e9ed";
$glyphicon-mic: "\e9ee";
$glyphicon-mic-off: "\e9ef";
$glyphicon-microchip: "\e9f0";
$glyphicon-minus: "\e9f1";
$glyphicon-mobile-phone: "\e9f2";
$glyphicon-mobile-phone-off: "\e9f3";
$glyphicon-moon: "\e9f4";
$glyphicon-more: "\e9f5";
$glyphicon-more-vertical: "\e9f6";
$glyphicon-music: "\e9f7";
$glyphicon-music-alt: "\e9f8";
$glyphicon-no-symbol: "\e9f9";
$glyphicon-octagon-remove: "\e9fa";
$glyphicon-octagon-remove-empty: "\e9fb";
$glyphicon-open: "\e9fc";
$glyphicon-paperclip: "\e9fd";
$glyphicon-paragraph-center: "\e9fe";
$glyphicon-paragraph-justify: "\e9ff";
$glyphicon-paragraph-left: "\ea00";
$glyphicon-paragraph-right: "\ea01";
$glyphicon-paste: "\ea02";
$glyphicon-pause: "\ea03";
$glyphicon-pencil: "\ea04";
$glyphicon-percent-sign: "\ea05";
$glyphicon-picture: "\ea06";
$glyphicon-pills: "\ea07";
$glyphicon-play: "\ea08";
$glyphicon-playlist: "\ea09";
$glyphicon-plus: "\ea0a";
$glyphicon-power: "\ea0b";
$glyphicon-power-cord-plug: "\ea0c";
$glyphicon-power-cord-plug-off: "\ea0d";
$glyphicon-print: "\ea0e";
$glyphicon-progress: "\ea0f";
$glyphicon-pulse: "\ea10";
$glyphicon-push-pin: "\ea11";
$glyphicon-qr-code: "\ea12";
$glyphicon-random: "\ea13";
$glyphicon-refresh: "\ea14";
$glyphicon-reload: "\ea15";
$glyphicon-reload-alt: "\ea16";
$glyphicon-repeat: "\ea17";
$glyphicon-repeat-once: "\ea18";
$glyphicon-restart: "\ea19";
$glyphicon-retweet: "\ea1a";
$glyphicon-rewind: "\ea1b";
$glyphicon-roundabout: "\ea1c";
$glyphicon-ruler: "\ea1d";
$glyphicon-rulers: "\ea1e";
$glyphicon-satellite: "\ea1f";
$glyphicon-save: "\ea20";
$glyphicon-save-as: "\ea21";
$glyphicon-scissors: "\ea22";
$glyphicon-search: "\ea23";
$glyphicon-send: "\ea24";
$glyphicon-set: "\ea25";
$glyphicon-set-down: "\ea26";
$glyphicon-shield-check: "\ea27";
$glyphicon-sidebar: "\ea28";
$glyphicon-skip-to-end: "\ea29";
$glyphicon-skip-to-next: "\ea2a";
$glyphicon-skip-to-previous: "\ea2b";
$glyphicon-skip-to-start: "\ea2c";
$glyphicon-slightly-frowning: "\ea2d";
$glyphicon-slightly-smiling: "\ea2e";
$glyphicon-snowflake: "\ea2f";
$glyphicon-sort: "\ea30";
$glyphicon-spell-check: "\ea31";
$glyphicon-square-2d: "\ea32";
$glyphicon-square-3d: "\ea33";
$glyphicon-square-alert: "\ea34";
$glyphicon-square-check: "\ea35";
$glyphicon-square-checkbox: "\ea36";
$glyphicon-square-down: "\ea37";
$glyphicon-square-download: "\ea38";
$glyphicon-square-edit: "\ea39";
$glyphicon-square-indeterminate: "\ea3a";
$glyphicon-square-info: "\ea3b";
$glyphicon-square-left: "\ea3c";
$glyphicon-square-live: "\ea3d";
$glyphicon-square-menu: "\ea3e";
$glyphicon-square-minus: "\ea3f";
$glyphicon-square-more: "\ea40";
$glyphicon-square-new-window: "\ea41";
$glyphicon-square-play: "\ea42";
$glyphicon-square-plus: "\ea43";
$glyphicon-square-question: "\ea44";
$glyphicon-square-remove: "\ea45";
$glyphicon-square-right: "\ea46";
$glyphicon-square-selected: "\ea47";
$glyphicon-square-triangle-down: "\ea48";
$glyphicon-square-triangle-left: "\ea49";
$glyphicon-square-triangle-right: "\ea4a";
$glyphicon-square-triangle-up: "\ea4b";
$glyphicon-square-up: "\ea4c";
$glyphicon-square-upload: "\ea4d";
$glyphicon-square-vr: "\ea4e";
$glyphicon-star: "\ea4f";
$glyphicon-star-empty: "\ea50";
$glyphicon-star-half: "\ea51";
$glyphicon-stats: "\ea52";
$glyphicon-stats-bars: "\ea53";
$glyphicon-stats-circle: "\ea54";
$glyphicon-text-underline: "\ea55";
$glyphicon-stop: "\ea56";
$glyphicon-strikethrough: "\ea57";
$glyphicon-sun: "\ea58";
$glyphicon-switch: "\ea59";
$glyphicon-switch-off: "\ea5a";
$glyphicon-switch-on: "\ea5b";
$glyphicon-syringe: "\ea5c";
$glyphicon-table: "\ea5d";
$glyphicon-tag: "\ea5e";
$glyphicon-temperature: "\ea5f";
$glyphicon-terminal: "\ea60";
$glyphicon-text: "\ea61";
$glyphicon-text-background: "\ea62";
$glyphicon-thumbnails: "\ea63";
$glyphicon-thumbnails-small: "\ea64";
$glyphicon-times: "\ea65";
$glyphicon-trending: "\ea66";
$glyphicon-triangle-alert: "\ea67";
$glyphicon-truck: "\ea68";
$glyphicon-tv: "\ea69";
$glyphicon-underline: "\ea6a";
$glyphicon-usb-device: "\ea6b";
$glyphicon-user: "\ea6c";
$glyphicon-user-group: "\ea6d";
$glyphicon-vector-path: "\ea6e";
$glyphicon-verify-check: "\ea6f";
$glyphicon-verify-empty: "\ea70";
$glyphicon-video: "\ea71";
$glyphicon-video-off: "\ea72";
$glyphicon-video-play: "\ea73";
$glyphicon-video-play-empty: "\ea74";
$glyphicon-volume-down: "\ea75";
$glyphicon-volume-off: "\ea76";
$glyphicon-volume-up: "\ea77";
$glyphicon-wallet: "\ea78";
$glyphicon-wifi: "\ea79";
$glyphicon-woman: "\ea7a";
$glyphicon-wrench: "\ea7b";
$glyphicon-basic-access-point: "\ea7c";
$glyphicon-basic-airplane: "\ea7d";
$glyphicon-basic-alarm: "\ea7e";
$glyphicon-basic-beach-umbrella: "\ea7f";
$glyphicon-basic-bin: "\ea80";
$glyphicon-basic-binoculars: "\ea81";
$glyphicon-basic-bus: "\ea82";
$glyphicon-basic-calendar: "\ea83";
$glyphicon-basic-camera: "\ea84";
$glyphicon-basic-car: "\ea85";
$glyphicon-basic-cars: "\ea86";
$glyphicon-basic-clipboard: "\ea87";
$glyphicon-basic-clock: "\ea88";
$glyphicon-basic-dog: "\ea89";
$glyphicon-basic-envelope: "\ea8a";
$glyphicon-basic-eye: "\ea8b";
$glyphicon-basic-eye-off: "\ea8c";
$glyphicon-basic-file: "\ea8d";
$glyphicon-basic-film: "\ea8e";
$glyphicon-basic-fire: "\ea8f";
$glyphicon-basic-glass: "\ea90";
$glyphicon-basic-heart: "\ea91";
$glyphicon-basic-heart-empty: "\ea92";
$glyphicon-basic-home: "\ea93";
$glyphicon-basic-key: "\ea94";
$glyphicon-basic-leaf: "\ea95";
$glyphicon-basic-luggage: "\ea96";
$glyphicon-basic-magic-wand: "\ea97";
$glyphicon-basic-magnet: "\ea98";
$glyphicon-basic-music: "\ea99";
$glyphicon-basic-music-alt: "\ea9a";
$glyphicon-basic-notes: "\ea9b";
$glyphicon-basic-pencil: "\ea9c";
$glyphicon-basic-picture: "\ea9d";
$glyphicon-basic-print: "\ea9e";
$glyphicon-basic-pulse: "\ea9f";
$glyphicon-basic-road: "\eaa0";
$glyphicon-basic-router: "\eaa1";
$glyphicon-basic-search: "\eaa2";
$glyphicon-basic-snowflake: "\eaa3";
$glyphicon-basic-star: "\eaa4";
$glyphicon-basic-star-empty: "\eaa5";
$glyphicon-basic-stats: "\eaa6";
$glyphicon-basic-stats-bars: "\eaa7";
$glyphicon-basic-stats-circle: "\eaa8";
$glyphicon-basic-stopwatch: "\eaa9";
$glyphicon-basic-user-female: "\eaaa";
$glyphicon-basic-user-group: "\eaab";
$glyphicon-basic-user-incognito: "\eaac";
$glyphicon-basic-user-parents: "\eaad";
$glyphicon-basic-video-camera: "\eaae";
$glyphicon-basic-history: "\eaaf";
$glyphicon-basic-truck: "\eab0";
$glyphicon-basic-timer: "\eab1";
$glyphicon-basic-compass: "\eab2";
$glyphicon-basic-presentation: "\eab3";
$glyphicon-basic-paperclip: "\eab4";
$glyphicon-basic-power: "\eab5";
$glyphicon-basic-lightbulb: "\eab6";
$glyphicon-basic-tag: "\eab7";
$glyphicon-basic-tags: "\eab8";
$glyphicon-basic-education: "\eab9";
$glyphicon-basic-ruler: "\eaba";
$glyphicon-basic-gift: "\eabb";
$glyphicon-basic-umbrella: "\eabc";
$glyphicon-basic-book: "\eabd";
$glyphicon-basic-bookmark: "\eabe";
$glyphicon-basic-wifi: "\eabf";
$glyphicon-basic-cup: "\eac0";
$glyphicon-basic-stroller: "\eac1";
$glyphicon-basic-headphones: "\eac2";
$glyphicon-basic-headset: "\eac3";
$glyphicon-basic-triangle-empty-alert: "\eac4";
$glyphicon-basic-bars: "\eac5";
$glyphicon-basic-retweet: "\eac6";
$glyphicon-basic-refresh: "\eac7";
$glyphicon-basic-roundabout: "\eac8";
$glyphicon-basic-random: "\eac9";
$glyphicon-basic-heating: "\eaca";
$glyphicon-basic-reload: "\eacb";
$glyphicon-basic-tv: "\eacc";
$glyphicon-basic-book-log: "\eacd";
$glyphicon-basic-book-address: "\eace";
$glyphicon-basic-building: "\eacf";
$glyphicon-basic-eyedropper: "\ead0";
$glyphicon-basic-contrast: "\ead1";
$glyphicon-basic-drop: "\ead2";
$glyphicon-basic-crop: "\ead3";
$glyphicon-basic-vector-path: "\ead4";
$glyphicon-basic-vector-path-circle: "\ead5";
$glyphicon-basic-vector-path-pentagon: "\ead6";
$glyphicon-basic-vector-path-line: "\ead7";
$glyphicon-basic-vector-path-curve: "\ead8";
$glyphicon-basic-vector-path-edit: "\ead9";
$glyphicon-basic-text: "\eada";
$glyphicon-basic-italic: "\eadb";
$glyphicon-basic-bold: "\eadc";
$glyphicon-basic-underline: "\eadd";
$glyphicon-basic-strikethrough: "\eade";
$glyphicon-basic-text-height: "\eadf";
$glyphicon-basic-text-width: "\eae0";
$glyphicon-basic-text-resize: "\eae1";
$glyphicon-basic-indent-left: "\eae2";
$glyphicon-basic-indent-right: "\eae3";
$glyphicon-basic-paragraph-left: "\eae4";
$glyphicon-basic-paragraph-center: "\eae5";
$glyphicon-basic-paragraph-right: "\eae6";
$glyphicon-basic-paragraph-justify: "\eae7";
$glyphicon-basic-list: "\eae8";
$glyphicon-basic-text-smaller: "\eae9";
$glyphicon-basic-text-bigger: "\eaea";
$glyphicon-basic-terminal-isolated: "\eaeb";
$glyphicon-basic-code: "\eaec";
$glyphicon-basic-table: "\eaed";
$glyphicon-basic-envelope-full: "\eaee";
$glyphicon-basic-envelope-empty: "\eaef";
$glyphicon-basic-envelope-down: "\eaf0";
$glyphicon-basic-envelope-up: "\eaf1";
$glyphicon-basic-envelope-plus: "\eaf2";
$glyphicon-basic-envelope-minus: "\eaf3";
$glyphicon-basic-envelope-no: "\eaf4";
$glyphicon-basic-envelope-flag: "\eaf5";
$glyphicon-basic-envelope-lock: "\eaf6";
$glyphicon-basic-envelope-star: "\eaf7";
$glyphicon-basic-inbox: "\eaf8";
$glyphicon-basic-inbox-plus: "\eaf9";
$glyphicon-basic-inbox-minus: "\eafa";
$glyphicon-basic-inbox-lock: "\eafb";
$glyphicon-basic-inbox-down: "\eafc";
$glyphicon-basic-inbox-up: "\eafd";
$glyphicon-basic-cogwheel: "\eafe";
$glyphicon-basic-cogwheels: "\eaff";
$glyphicon-basic-curves: "\eb00";
$glyphicon-basic-adjust: "\eb01";
$glyphicon-basic-database: "\eb02";
$glyphicon-basic-database-plus: "\eb03";
$glyphicon-basic-database-minus: "\eb04";
$glyphicon-basic-database-search: "\eb05";
$glyphicon-basic-folder-open: "\eb06";
$glyphicon-basic-folder-plus: "\eb07";
$glyphicon-basic-folder-minus: "\eb08";
$glyphicon-basic-folder-refresh: "\eb09";
$glyphicon-basic-folder-check: "\eb0a";
$glyphicon-basic-folder-star: "\eb0b";
$glyphicon-basic-square-edit: "\eb0c";
$glyphicon-basic-square-new-window: "\eb0d";
$glyphicon-basic-square-checkbox: "\eb0e";
$glyphicon-basic-square-empty: "\eb0f";
$glyphicon-basic-square-selected: "\eb10";
$glyphicon-basic-square-indeterminate: "\eb11";
$glyphicon-basic-thumbnails: "\eb12";
$glyphicon-basic-thumbnails-small: "\eb13";
$glyphicon-basic-thumbnails-list: "\eb14";
$glyphicon-basic-playlist: "\eb15";
$glyphicon-basic-computer-all-in-one: "\eb16";
$glyphicon-basic-computer-pc-tower: "\eb17";
$glyphicon-basic-computer: "\eb18";
$glyphicon-basic-notebook: "\eb19";
$glyphicon-basic-tablet: "\eb1a";
$glyphicon-basic-mobile-phone: "\eb1b";
$glyphicon-basic-mobile-phone-off: "\eb1c";
$glyphicon-basic-mobile-phone-vibrations: "\eb1d";
$glyphicon-basic-mobile-phone-shaking: "\eb1e";
$glyphicon-basic-earphones: "\eb1f";
$glyphicon-basic-skip-to-previous: "\eb20";
$glyphicon-basic-skip-to-start: "\eb21";
$glyphicon-basic-rewind: "\eb22";
$glyphicon-basic-pause: "\eb23";
$glyphicon-basic-play: "\eb24";
$glyphicon-basic-stop: "\eb25";
$glyphicon-basic-forward: "\eb26";
$glyphicon-basic-skip-to-end: "\eb27";
$glyphicon-basic-skip-to-next: "\eb28";
$glyphicon-basic-eject: "\eb29";
$glyphicon-basic-video: "\eb2a";
$glyphicon-basic-video-off: "\eb2b";
$glyphicon-basic-volume-bluetooth: "\eb2c";
$glyphicon-basic-volume-off: "\eb2d";
$glyphicon-basic-volume-down: "\eb2e";
$glyphicon-basic-volume-up: "\eb2f";
$glyphicon-basic-volume-max: "\eb30";
$glyphicon-basic-cd: "\eb31";
$glyphicon-basic-mc: "\eb32";
$glyphicon-basic-lp: "\eb33";
$glyphicon-basic-circle-empty-plus: "\eb34";
$glyphicon-basic-circle-empty-minus: "\eb35";
$glyphicon-basic-circle-empty-remove: "\eb36";
$glyphicon-basic-circle-empty-check: "\eb37";
$glyphicon-basic-circle-empty-question: "\eb38";
$glyphicon-basic-circle-empty-info: "\eb39";
$glyphicon-basic-circle-empty-alert: "\eb3a";
$glyphicon-basic-open: "\eb3b";
$glyphicon-basic-save: "\eb3c";
$glyphicon-basic-save-as: "\eb3d";
$glyphicon-basic-cart: "\eb3e";
$glyphicon-basic-cart-in: "\eb3f";
$glyphicon-basic-cart-out: "\eb40";
$glyphicon-basic-cart-checkout: "\eb41";
$glyphicon-basic-cart-check: "\eb42";
$glyphicon-basic-circle-empty-play: "\eb43";
$glyphicon-basic-circle-empty-down: "\eb44";
$glyphicon-basic-circle-empty-up: "\eb45";
$glyphicon-basic-circle-empty-left: "\eb46";
$glyphicon-basic-circle-empty-right: "\eb47";
$glyphicon-basic-arrow-down: "\eb48";
$glyphicon-basic-arrow-up: "\eb49";
$glyphicon-basic-arrow-left: "\eb4a";
$glyphicon-basic-arrow-right: "\eb4b";
$glyphicon-basic-fullscreen-off: "\eb4c";
$glyphicon-basic-fullscreen: "\eb4d";
$glyphicon-basic-lock: "\eb4e";
$glyphicon-basic-lock-open: "\eb4f";
$glyphicon-basic-coins: "\eb50";
$glyphicon-basic-banknotes: "\eb51";
$glyphicon-basic-chevron-down: "\eb52";
$glyphicon-basic-chevron-up: "\eb53";
$glyphicon-basic-chevron-left: "\eb54";
$glyphicon-basic-chevron-right: "\eb55";
$glyphicon-basic-bitcoin: "\eb56";
$glyphicon-basic-euro: "\eb57";
$glyphicon-basic-dollar: "\eb58";
$glyphicon-basic-pound: "\eb59";
$glyphicon-basic-yen: "\eb5a";
$glyphicon-basic-ruble: "\eb5b";
$glyphicon-basic-moon: "\eb5c";
$glyphicon-basic-sun: "\eb5d";
$glyphicon-basic-lasso: "\eb5e";
$glyphicon-basic-calculator: "\eb5f";
$glyphicon-basic-chat-conversation: "\eb60";
$glyphicon-basic-chat-conversation-off: "\eb61";
$glyphicon-basic-chat-conversation-lock: "\eb62";
$glyphicon-basic-chat-message: "\eb63";
$glyphicon-basic-chat-message-lock: "\eb64";
$glyphicon-basic-chat-message-check: "\eb65";
$glyphicon-basic-brush: "\eb66";
$glyphicon-basic-marker: "\eb67";
$glyphicon-basic-pen: "\eb68";
$glyphicon-basic-spray: "\eb69";
$glyphicon-basic-fill: "\eb6a";
$glyphicon-basic-clean: "\eb6b";
$glyphicon-basic-drop-off: "\eb6c";
$glyphicon-basic-palette: "\eb6d";
$glyphicon-basic-diamond: "\eb6e";
$glyphicon-basic-eraser: "\eb6f";
$glyphicon-basic-diving-free: "\eb70";
$glyphicon-basic-diving-scuba: "\eb71";
$glyphicon-basic-boat: "\eb72";
$glyphicon-basic-swimming-pool: "\eb73";
$glyphicon-basic-buoy: "\eb74";
$glyphicon-basic-oxygen-bottles: "\eb75";
$glyphicon-basic-fins: "\eb76";
$glyphicon-basic-anchor: "\eb77";
$glyphicon-basic-fishes: "\eb78";
$glyphicon-basic-fishes-bait: "\eb79";
$glyphicon-basic-direction: "\eb7a";
$glyphicon-basic-direction-empty: "\eb7b";
$glyphicon-basic-direction-full: "\eb7c";
$glyphicon-basic-flag-waving: "\eb7d";
$glyphicon-basic-flag: "\eb7e";
$glyphicon-basic-flag-triangle: "\eb7f";
$glyphicon-basic-comments: "\eb80";
$glyphicon-basic-comments-off: "\eb81";
$glyphicon-basic-comments-lock: "\eb82";
$glyphicon-basic-cake: "\eb83";
$glyphicon-basic-set-wine: "\eb84";
$glyphicon-basic-glass-wine: "\eb85";
$glyphicon-basic-coffee-mug: "\eb86";
$glyphicon-basic-drink: "\eb87";
$glyphicon-basic-beer: "\eb88";
$glyphicon-basic-beer-alt: "\eb89";
$glyphicon-basic-fast-food: "\eb8a";
$glyphicon-basic-cutlery: "\eb8b";
$glyphicon-basic-blender: "\eb8c";
$glyphicon-basic-pizza: "\eb8d";
$glyphicon-basic-coffee-to-go: "\eb8e";
$glyphicon-basic-tea-pot: "\eb8f";
$glyphicon-basic-tea-mug: "\eb90";
$glyphicon-basic-coffee-beans: "\eb91";
$glyphicon-basic-tea-leaves: "\eb92";
$glyphicon-basic-french-press: "\eb93";
$glyphicon-basic-pot: "\eb94";
$glyphicon-basic-kettle: "\eb95";
$glyphicon-basic-grater: "\eb96";
$glyphicon-basic-cooks-hat: "\eb97";
$glyphicon-basic-square-empty-plus: "\eb98";
$glyphicon-basic-square-empty-minus: "\eb99";
$glyphicon-basic-square-empty-remove: "\eb9a";
$glyphicon-basic-square-empty-check: "\eb9b";
$glyphicon-basic-square-empty-question: "\eb9c";
$glyphicon-basic-square-empty-info: "\eb9d";
$glyphicon-basic-square-empty-alert: "\eb9e";
$glyphicon-basic-circle-empty: "\eb9f";
$glyphicon-basic-circle-selected: "\eba0";
$glyphicon-basic-asian-food: "\eba1";
$glyphicon-basic-square-upload: "\eba2";
$glyphicon-basic-square-download: "\eba3";
$glyphicon-basic-verify-empty: "\eba4";
$glyphicon-basic-verify-check: "\eba5";
$glyphicon-basic-no-symbol: "\eba6";
$glyphicon-basic-square-empty-play: "\eba7";
$glyphicon-basic-square-empty-download: "\eba8";
$glyphicon-basic-square-empty-upload: "\eba9";
$glyphicon-basic-square-empty-left: "\ebaa";
$glyphicon-basic-square-empty-right: "\ebab";
$glyphicon-basic-spade: "\ebac";
$glyphicon-basic-saw: "\ebad";
$glyphicon-basic-claw-hammer: "\ebae";
$glyphicon-basic-hammer: "\ebaf";
$glyphicon-basic-screwdriver: "\ebb0";
$glyphicon-basic-wrench: "\ebb1";
$glyphicon-basic-ax: "\ebb2";
$glyphicon-basic-blacksmith: "\ebb3";
$glyphicon-basic-saw-blade: "\ebb4";
$glyphicon-basic-certificate: "\ebb5";
$glyphicon-basic-users: "\ebb6";
$glyphicon-basic-shield-check: "\ebb7";
$glyphicon-basic-shield-half: "\ebb8";
$glyphicon-basic-shield-empty-star: "\ebb9";
$glyphicon-basic-shield-quarter: "\ebba";
$glyphicon-basic-shield-star: "\ebbb";
$glyphicon-basic-contactless-lock: "\ebbc";
$glyphicon-basic-contactless: "\ebbd";
$glyphicon-basic-credit-card: "\ebbe";
$glyphicon-basic-credit-card-off: "\ebbf";
$glyphicon-basic-quad-bike: "\ebc0";
$glyphicon-basic-motorbike: "\ebc1";
$glyphicon-basic-squares: "\ebc2";
$glyphicon-basic-brightness-up: "\ebc3";
$glyphicon-basic-brightness-down: "\ebc4";
$glyphicon-basic-folder: "\ebc5";
$glyphicon-basic-folder-cogwheel: "\ebc6";
$glyphicon-basic-folder-alert: "\ebc7";
$glyphicon-basic-folder-lock: "\ebc8";
$glyphicon-basic-folder-no: "\ebc9";
$glyphicon-basic-mic: "\ebca";
$glyphicon-basic-mic-off: "\ebcb";
$glyphicon-basic-repeat: "\ebcc";
$glyphicon-basic-repeat-once: "\ebcd";
$glyphicon-basic-electric-cord: "\ebce";
$glyphicon-basic-self-winding-cord: "\ebcf";
$glyphicon-basic-id-badge: "\ebd0";
$glyphicon-basic-id-badge-vertical: "\ebd1";
$glyphicon-basic-id-binder: "\ebd2";
$glyphicon-basic-lock-off: "\ebd3";
$glyphicon-basic-link: "\ebd4";
$glyphicon-basic-link-remove: "\ebd5";
$glyphicon-basic-bank: "\ebd6";
$glyphicon-basic-scissors-cutting: "\ebd7";
$glyphicon-basic-mouse: "\ebd8";
$glyphicon-basic-mouse-wireless: "\ebd9";
$glyphicon-basic-keyboard: "\ebda";
$glyphicon-basic-keyboard-wireless: "\ebdb";
$glyphicon-basic-graphic-tablet: "\ebdc";
$glyphicon-basic-graphic-tablet-wireless: "\ebdd";
$glyphicon-basic-t-shirt: "\ebde";
$glyphicon-basic-t-shirt-v: "\ebdf";
$glyphicon-basic-t-shirt-sleeves: "\ebe0";
$glyphicon-basic-shirt: "\ebe1";
$glyphicon-basic-tie: "\ebe2";
$glyphicon-basic-trousers: "\ebe3";
$glyphicon-basic-dress: "\ebe4";
$glyphicon-basic-underwear: "\ebe5";
$glyphicon-basic-fabric: "\ebe6";
$glyphicon-basic-leather: "\ebe7";
$glyphicon-basic-plus: "\ebe8";
$glyphicon-basic-minus: "\ebe9";
$glyphicon-basic-times: "\ebea";
$glyphicon-basic-division: "\ebeb";
$glyphicon-basic-equals: "\ebec";
$glyphicon-basic-hanger: "\ebed";
$glyphicon-basic-flower: "\ebee";
$glyphicon-basic-plant: "\ebef";
$glyphicon-basic-tree-conifer: "\ebf0";
$glyphicon-basic-tree-deciduous: "\ebf1";
$glyphicon-basic-bowling: "\ebf2";
$glyphicon-basic-rugby: "\ebf3";
$glyphicon-basic-table-tennis: "\ebf4";
$glyphicon-basic-basketball: "\ebf5";
$glyphicon-basic-volleyball: "\ebf6";
$glyphicon-basic-football: "\ebf7";
$glyphicon-basic-baseball: "\ebf8";
$glyphicon-basic-hockey: "\ebf9";
$glyphicon-basic-golf: "\ebfa";
$glyphicon-basic-golf-green: "\ebfb";
$glyphicon-basic-winners: "\ebfc";
$glyphicon-basic-winners-stars: "\ebfd";
$glyphicon-basic-medal: "\ebfe";
$glyphicon-basic-dumbbell: "\ebff";
$glyphicon-basic-filter: "\ec00";
$glyphicon-basic-filter-plus: "\ec01";
$glyphicon-basic-filter-minus: "\ec02";
$glyphicon-basic-filter-cogwheel: "\ec03";
$glyphicon-basic-import: "\ec04";
$glyphicon-basic-export: "\ec05";
$glyphicon-basic-hard-drive: "\ec06";
$glyphicon-basic-hard-drive-cogwheel: "\ec07";
$glyphicon-basic-hard-drive-lock: "\ec08";
$glyphicon-basic-hard-drive-eject: "\ec09";
$glyphicon-basic-turtle: "\ec0a";
$glyphicon-basic-rabbit: "\ec0b";
$glyphicon-basic-cat: "\ec0c";
$glyphicon-basic-sailboat: "\ec0d";
$glyphicon-basic-webcam: "\ec0e";
$glyphicon-basic-projector: "\ec0f";
$glyphicon-basic-shopping-bag: "\ec10";
$glyphicon-basic-dice: "\ec11";
$glyphicon-basic-game-controller: "\ec12";
$glyphicon-basic-game-controller-wireless: "\ec13";
$glyphicon-basic-push-pin: "\ec14";
$glyphicon-basic-id-badge-lanyard: "\ec15";
$glyphicon-basic-globe: "\ec16";
$glyphicon-basic-world-west: "\ec17";
$glyphicon-basic-world-east: "\ec18";
$glyphicon-basic-vases: "\ec19";
$glyphicon-basic-book-play: "\ec1a";
$glyphicon-basic-book-library: "\ec1b";
$glyphicon-basic-briefcase-alt: "\ec1c";
$glyphicon-basic-blackboard: "\ec1d";
$glyphicon-basic-crown: "\ec1e";
$glyphicon-basic-home-flag: "\ec1f";
$glyphicon-basic-square-triangle-down: "\ec20";
$glyphicon-basic-square-triangle-up: "\ec21";
$glyphicon-basic-square-triangle-left: "\ec22";
$glyphicon-basic-square-triangle-right: "\ec23";
$glyphicon-basic-log-in: "\ec24";
$glyphicon-basic-log-out: "\ec25";
$glyphicon-basic-reply: "\ec26";
$glyphicon-basic-reply-all: "\ec27";
$glyphicon-basic-forward-email: "\ec28";
$glyphicon-basic-archive: "\ec29";
$glyphicon-basic-playlist-music: "\ec2a";
$glyphicon-basic-playlist-video: "\ec2b";
$glyphicon-basic-video-play-empty: "\ec2c";
$glyphicon-basic-video-play: "\ec2d";
$glyphicon-basic-bell: "\ec2e";
$glyphicon-basic-bell-off: "\ec2f";
$glyphicon-basic-bell-ringing: "\ec30";
$glyphicon-basic-sampler: "\ec31";
$glyphicon-basic-wallet: "\ec32";
$glyphicon-basic-wallet-plus: "\ec33";
$glyphicon-basic-wallet-minus: "\ec34";
$glyphicon-basic-wallet-lock: "\ec35";
$glyphicon-basic-wallet-cogwheel: "\ec36";
$glyphicon-basic-wallet-check: "\ec37";
$glyphicon-basic-hand-like: "\ec38";
$glyphicon-basic-hand-dislike: "\ec39";
$glyphicon-basic-hand-pointing-right: "\ec3a";
$glyphicon-basic-hand-pointing-left: "\ec3b";
$glyphicon-basic-hand-pointing-up: "\ec3c";
$glyphicon-basic-hand-pointing-down: "\ec3d";
$glyphicon-basic-hand-open: "\ec3e";
$glyphicon-basic-hand-open-alt: "\ec3f";
$glyphicon-basic-hand-ok: "\ec40";
$glyphicon-basic-briefcase: "\ec41";
$glyphicon-basic-send: "\ec42";
$glyphicon-basic-footprints: "\ec43";
$glyphicon-basic-construction-cone: "\ec44";
$glyphicon-basic-phone-old: "\ec45";
$glyphicon-basic-call: "\ec46";
$glyphicon-basic-fax: "\ec47";
$glyphicon-basic-shredder: "\ec48";
$glyphicon-basic-multifunction-printer: "\ec49";
$glyphicon-basic-scanner: "\ec4a";
$glyphicon-basic-security-camera: "\ec4b";
$glyphicon-basic-sort: "\ec4c";
$glyphicon-basic-sort-alphabetically: "\ec4d";
$glyphicon-basic-sort-alphabetically-alt: "\ec4e";
$glyphicon-basic-sort-numerically: "\ec4f";
$glyphicon-basic-sort-numerically-alt: "\ec50";
$glyphicon-basic-sort-attributes: "\ec51";
$glyphicon-basic-sort-attributes-alt: "\ec52";
$glyphicon-basic-switch: "\ec53";
$glyphicon-basic-user-scam: "\ec54";
$glyphicon-basic-user-scam-alt: "\ec55";
$glyphicon-basic-shop-window: "\ec56";
$glyphicon-basic-shop-door: "\ec57";
$glyphicon-basic-kiosk: "\ec58";
$glyphicon-basic-kiosk-wheels: "\ec59";
$glyphicon-basic-kiosk-immobile: "\ec5a";
$glyphicon-basic-kiosk-food: "\ec5b";
$glyphicon-basic-exchange: "\ec5c";
$glyphicon-basic-bullets: "\ec5d";
$glyphicon-basic-gun: "\ec5e";
$glyphicon-basic-gun-off: "\ec5f";
$glyphicon-basic-charging-station: "\ec60";
$glyphicon-basic-gas-station: "\ec61";
$glyphicon-basic-rotate: "\ec62";
$glyphicon-basic-rotate-horizontal: "\ec63";
$glyphicon-basic-rotate-vertical: "\ec64";
$glyphicon-basic-podcast: "\ec65";
$glyphicon-basic-more: "\ec66";
$glyphicon-basic-more-vertical: "\ec67";
$glyphicon-basic-skull-crossbones: "\ec68";
$glyphicon-basic-skull: "\ec69";
$glyphicon-basic-server: "\ec6a";
$glyphicon-basic-server-plus: "\ec6b";
$glyphicon-basic-server-minus: "\ec6c";
$glyphicon-basic-server-no: "\ec6d";
$glyphicon-basic-server-check: "\ec6e";
$glyphicon-basic-server-lock: "\ec6f";
$glyphicon-basic-server-refresh: "\ec70";
$glyphicon-basic-server-flag: "\ec71";
$glyphicon-basic-server-cogwheel: "\ec72";
$glyphicon-basic-light-beacon: "\ec73";
$glyphicon-basic-bed: "\ec74";
$glyphicon-basic-bed-single: "\ec75";
$glyphicon-basic-cot: "\ec76";
$glyphicon-basic-personal-hygiene: "\ec77";
$glyphicon-basic-hairdresser: "\ec78";
$glyphicon-basic-bed-sleeping: "\ec79";
$glyphicon-basic-food-service: "\ec7a";
$glyphicon-basic-lamp-table: "\ec7b";
$glyphicon-basic-lamp: "\ec7c";
$glyphicon-basic-hourglass: "\ec7d";
$glyphicon-basic-monitor: "\ec7e";
$glyphicon-basic-monitors: "\ec7f";
$glyphicon-basic-monitor-rotate: "\ec80";
$glyphicon-basic-monitor-vertical: "\ec81";
$glyphicon-basic-phone-to-horizontal: "\ec82";
$glyphicon-basic-phone-rotate: "\ec83";
$glyphicon-basic-phone-horizontal: "\ec84";
$glyphicon-basic-shower: "\ec85";
$glyphicon-basic-shower-alt: "\ec86";
$glyphicon-basic-bath: "\ec87";
$glyphicon-basic-user-parents-alt: "\ec88";
$glyphicon-basic-user-family: "\ec89";
$glyphicon-basic-user-child: "\ec8a";
$glyphicon-basic-user-boy: "\ec8b";
$glyphicon-basic-user-girl: "\ec8c";
$glyphicon-basic-speakers: "\ec8d";
$glyphicon-basic-progress: "\ec8e";
$glyphicon-basic-tasks: "\ec8f";
$glyphicon-basic-barcode: "\ec90";
$glyphicon-basic-qr-code: "\ec91";
$glyphicon-basic-credit-empty: "\ec92";
$glyphicon-basic-credit: "\ec93";
$glyphicon-basic-star-half: "\ec94";
$glyphicon-basic-cloud: "\ec95";
$glyphicon-basic-cloud-upload: "\ec96";
$glyphicon-basic-cloud-download: "\ec97";
$glyphicon-basic-cloud-refresh: "\ec98";
$glyphicon-basic-cloud-alert: "\ec99";
$glyphicon-basic-cloud-pause: "\ec9a";
$glyphicon-basic-cloud-check: "\ec9b";
$glyphicon-basic-bag: "\ec9c";
$glyphicon-basic-hand-donate: "\ec9d";
$glyphicon-basic-hand-heart: "\ec9e";
$glyphicon-basic-handshake: "\ec9f";
$glyphicon-basic-hand-praying: "\eca0";
$glyphicon-basic-flash: "\eca1";
$glyphicon-basic-flash-automatic: "\eca2";
$glyphicon-basic-flash-no: "\eca3";
$glyphicon-basic-target: "\eca4";
$glyphicon-basic-marriage: "\eca5";
$glyphicon-basic-shoes: "\eca6";
$glyphicon-basic-shoes-off: "\eca7";
$glyphicon-basic-card-hearts: "\eca8";
$glyphicon-basic-card-spades: "\eca9";
$glyphicon-basic-card-diamonds: "\ecaa";
$glyphicon-basic-card-clubs: "\ecab";
$glyphicon-basic-bring-forward: "\ecac";
$glyphicon-basic-bring-to-front: "\ecad";
$glyphicon-basic-send-backward: "\ecae";
$glyphicon-basic-send-to-back: "\ecaf";
$glyphicon-basic-washing-machine: "\ecb0";
$glyphicon-basic-dryer: "\ecb1";
$glyphicon-basic-dishwasher: "\ecb2";
$glyphicon-basic-oven: "\ecb3";
$glyphicon-basic-hob: "\ecb4";
$glyphicon-basic-microwave: "\ecb5";
$glyphicon-basic-cluster: "\ecb6";
$glyphicon-basic-share: "\ecb7";
$glyphicon-basic-translate-alt: "\ecb8";
$glyphicon-basic-translate: "\ecb9";
$glyphicon-basic-directions: "\ecba";
$glyphicon-basic-directions-arrow: "\ecbb";
$glyphicon-basic-finish-line: "\ecbc";
$glyphicon-basic-radio: "\ecbd";
$glyphicon-basic-start: "\ecbe";
$glyphicon-basic-bomb: "\ecbf";
$glyphicon-basic-bug: "\ecc0";
$glyphicon-basic-book-open-text: "\ecc1";
$glyphicon-basic-book-open: "\ecc2";
$glyphicon-basic-newspaper: "\ecc3";
$glyphicon-basic-map-marker: "\ecc4";
$glyphicon-basic-map: "\ecc5";
$glyphicon-basic-route: "\ecc6";
$glyphicon-basic-nearby: "\ecc7";
$glyphicon-basic-nearby-alt: "\ecc8";
$glyphicon-basic-piggy-bank: "\ecc9";
$glyphicon-basic-piggy-bank-coins: "\ecca";
$glyphicon-basic-sound-surround: "\eccb";
$glyphicon-basic-menu-close: "\eccc";
$glyphicon-basic-menu: "\eccd";
$glyphicon-basic-user-no: "\ecce";
$glyphicon-basic-user-lock: "\eccf";
$glyphicon-basic-user-flag: "\ecd0";
$glyphicon-basic-user-star: "\ecd1";
$glyphicon-basic-user-alert: "\ecd2";
$glyphicon-basic-user-chat: "\ecd3";
$glyphicon-basic-user-check: "\ecd4";
$glyphicon-basic-square-hospital: "\ecd5";
$glyphicon-basic-circle-red-cross: "\ecd6";
$glyphicon-basic-star-of-life: "\ecd7";
$glyphicon-basic-copy-duplicate: "\ecd8";
$glyphicon-basic-scissors: "\ecd9";
$glyphicon-basic-paste: "\ecda";
$glyphicon-basic-copy: "\ecdb";
$glyphicon-basic-balance-scales: "\ecdc";
$glyphicon-basic-court-gavel: "\ecdd";
$glyphicon-basic-court-gavel-alt: "\ecde";
$glyphicon-basic-circle-hospital: "\ecdf";
$glyphicon-basic-square-red-cross: "\ece0";
$glyphicon-basic-star-of-life-empty: "\ece1";
$glyphicon-basic-scale-personal: "\ece2";
$glyphicon-basic-scale-kitchen: "\ece3";
$glyphicon-basic-fireworks: "\ece4";
$glyphicon-basic-fireworks-alt: "\ece5";
$glyphicon-basic-chemistry: "\ece6";
$glyphicon-basic-chemistry-alt: "\ece7";
$glyphicon-basic-syringe-empty: "\ece8";
$glyphicon-basic-syringe: "\ece9";
$glyphicon-basic-heartbeat: "\ecea";
$glyphicon-basic-heart-broken: "\eceb";
$glyphicon-basic-circle-plus: "\ecec";
$glyphicon-basic-circle-minus: "\eced";
$glyphicon-basic-circle-remove: "\ecee";
$glyphicon-basic-circle-check: "\ecef";
$glyphicon-basic-circle-question: "\ecf0";
$glyphicon-basic-circle-info: "\ecf1";
$glyphicon-basic-circle-alert: "\ecf2";
$glyphicon-basic-triangle-alert: "\ecf3";
$glyphicon-basic-octagon-remove-empty: "\ecf4";
$glyphicon-basic-octagon-remove: "\ecf5";
$glyphicon-basic-triangle-radioactive: "\ecf6";
$glyphicon-basic-radioactive: "\ecf7";
$glyphicon-basic-compound: "\ecf8";
$glyphicon-basic-dna: "\ecf9";
$glyphicon-basic-biohazard: "\ecfa";
$glyphicon-basic-circle-play: "\ecfb";
$glyphicon-basic-circle-down: "\ecfc";
$glyphicon-basic-circle-up: "\ecfd";
$glyphicon-basic-circle-left: "\ecfe";
$glyphicon-basic-circle-right: "\ecff";
$glyphicon-basic-king: "\ed00";
$glyphicon-basic-queen: "\ed01";
$glyphicon-basic-rook: "\ed02";
$glyphicon-basic-bishop: "\ed03";
$glyphicon-basic-knight: "\ed04";
$glyphicon-basic-pawn: "\ed05";
$glyphicon-basic-door: "\ed06";
$glyphicon-basic-bicycle: "\ed07";
$glyphicon-basic-id: "\ed08";
$glyphicon-basic-payment: "\ed09";
$glyphicon-basic-legal-section-sign: "\ed0a";
$glyphicon-basic-voicemail: "\ed0b";
$glyphicon-basic-equalizer-dots: "\ed0c";
$glyphicon-basic-equalizer-bars: "\ed0d";
$glyphicon-basic-taxi: "\ed0e";
$glyphicon-basic-transport-mixed: "\ed0f";
$glyphicon-basic-metro: "\ed10";
$glyphicon-basic-car-rental: "\ed11";
$glyphicon-basic-tram: "\ed12";
$glyphicon-basic-dashboard: "\ed13";
$glyphicon-basic-mountains: "\ed14";
$glyphicon-basic-forest: "\ed15";
$glyphicon-basic-cableway: "\ed16";
$glyphicon-basic-canister: "\ed17";
$glyphicon-basic-motor-oil: "\ed18";
$glyphicon-basic-car-battery: "\ed19";
$glyphicon-basic-car-wheel: "\ed1a";
$glyphicon-basic-car-wheel-defect: "\ed1b";
$glyphicon-basic-car-wheel-wrench: "\ed1c";
$glyphicon-basic-car-wheel-wrench-alt: "\ed1d";
$glyphicon-basic-suitcase-doctor: "\ed1e";
$glyphicon-basic-tent: "\ed1f";
$glyphicon-basic-key-rounded: "\ed20";
$glyphicon-basic-flashlight: "\ed21";
$glyphicon-basic-backpack: "\ed22";
$glyphicon-basic-watch: "\ed23";
$glyphicon-basic-watch-squared: "\ed24";
$glyphicon-basic-smart-bracelet: "\ed25";
$glyphicon-basic-lighter: "\ed26";
$glyphicon-basic-multifunction-knife: "\ed27";
$glyphicon-basic-text-underline: "\ed28";
$glyphicon-basic-font: "\ed29";
$glyphicon-basic-superscript: "\ed2a";
$glyphicon-basic-subscript: "\ed2b";
$glyphicon-basic-text-background: "\ed2c";
$glyphicon-basic-header: "\ed2d";
$glyphicon-basic-directions-sign: "\ed2e";
$glyphicon-basic-barbed-wire: "\ed2f";
$glyphicon-basic-tractor: "\ed30";
$glyphicon-basic-fence: "\ed31";
$glyphicon-basic-ice-cream: "\ed32";
$glyphicon-basic-ice-cream-off: "\ed33";
$glyphicon-basic-remote-control: "\ed34";
$glyphicon-basic-pills: "\ed35";
$glyphicon-basic-medicine: "\ed36";
$glyphicon-basic-park: "\ed37";
$glyphicon-basic-dog-tags: "\ed38";
$glyphicon-basic-luggage-alt: "\ed39";
$glyphicon-basic-lawn-mower: "\ed3a";
$glyphicon-basic-brick-wall: "\ed3b";
$glyphicon-basic-voting-urn: "\ed3c";
$glyphicon-basic-government: "\ed3d";
$glyphicon-basic-announcement: "\ed3e";
$glyphicon-basic-dustbin: "\ed3f";
$glyphicon-basic-feather: "\ed40";
$glyphicon-basic-recycling: "\ed41";
$glyphicon-basic-home-fire: "\ed42";
$glyphicon-basic-home-flood: "\ed43";
$glyphicon-basic-water: "\ed44";
$glyphicon-basic-home-for-sale: "\ed45";
$glyphicon-basic-campfire: "\ed46";
$glyphicon-basic-fireplace: "\ed47";
$glyphicon-basic-basket: "\ed48";
$glyphicon-basic-basket-in: "\ed49";
$glyphicon-basic-basket-out: "\ed4a";
$glyphicon-basic-basket-checkout: "\ed4b";
$glyphicon-basic-basket-check: "\ed4c";
$glyphicon-basic-firefighters: "\ed4d";
$glyphicon-basic-police: "\ed4e";
$glyphicon-basic-ambulance: "\ed4f";
$glyphicon-basic-ear: "\ed50";
$glyphicon-basic-ear-off: "\ed51";
$glyphicon-basic-theater-masks: "\ed52";
$glyphicon-basic-kettlebell: "\ed53";
$glyphicon-basic-ticket: "\ed54";
$glyphicon-basic-ticket-parking: "\ed55";
$glyphicon-basic-parking-meter: "\ed56";
$glyphicon-basic-parking: "\ed57";
$glyphicon-basic-check: "\ed58";
$glyphicon-basic-hash: "\ed59";
$glyphicon-basic-align-top: "\ed5a";
$glyphicon-basic-align-bottom: "\ed5b";
$glyphicon-basic-align-horizontal: "\ed5c";
$glyphicon-basic-align-left: "\ed5d";
$glyphicon-basic-align-vertical: "\ed5e";
$glyphicon-basic-align-right: "\ed5f";
$glyphicon-basic-reflect-y: "\ed60";
$glyphicon-basic-reflect-x: "\ed61";
$glyphicon-basic-resize-horizontal: "\ed62";
$glyphicon-basic-resize-vertical: "\ed63";
$glyphicon-basic-call-redirect: "\ed64";
$glyphicon-basic-call-ip: "\ed65";
$glyphicon-basic-call-record: "\ed66";
$glyphicon-basic-call-music: "\ed67";
$glyphicon-basic-call-data: "\ed68";
$glyphicon-basic-call-pause: "\ed69";
$glyphicon-basic-call-incoming: "\ed6a";
$glyphicon-basic-call-outgoing: "\ed6b";
$glyphicon-basic-call-video: "\ed6c";
$glyphicon-basic-call-lock: "\ed6d";
$glyphicon-basic-sync: "\ed6e";
$glyphicon-basic-sync-alert: "\ed6f";
$glyphicon-basic-sync-check: "\ed70";
$glyphicon-basic-modal-window: "\ed71";
$glyphicon-basic-gas: "\ed72";
$glyphicon-basic-waste-pipe: "\ed73";
$glyphicon-basic-waste-pipe-end: "\ed74";
$glyphicon-basic-toilet: "\ed75";
$glyphicon-basic-drinking-water: "\ed76";
$glyphicon-basic-drinking-water-off: "\ed77";
$glyphicon-basic-apple: "\ed78";
$glyphicon-basic-neighborhood: "\ed79";
$glyphicon-basic-temperature: "\ed7a";
$glyphicon-basic-temperature-alert: "\ed7b";
$glyphicon-basic-temperature-set: "\ed7c";
$glyphicon-basic-temperature-low: "\ed7d";
$glyphicon-basic-temperature-high: "\ed7e";
$glyphicon-basic-tornado: "\ed7f";
$glyphicon-basic-ice-lolly: "\ed80";
$glyphicon-basic-ice-lolly-eaten: "\ed81";
$glyphicon-basic-milk: "\ed82";
$glyphicon-basic-egg: "\ed83";
$glyphicon-basic-wheat: "\ed84";
$glyphicon-basic-corn: "\ed85";
$glyphicon-basic-soya: "\ed86";
$glyphicon-basic-nuts: "\ed87";
$glyphicon-basic-carrot: "\ed88";
$glyphicon-basic-meat: "\ed89";
$glyphicon-basic-seafood: "\ed8a";
$glyphicon-basic-fish: "\ed8b";
$glyphicon-basic-square-email: "\ed8c";
$glyphicon-basic-email: "\ed8d";
$glyphicon-basic-paired: "\ed8e";
$glyphicon-basic-paired-off: "\ed8f";
$glyphicon-basic-set: "\ed90";
$glyphicon-basic-set-down: "\ed91";
$glyphicon-basic-chevron-last-down: "\ed92";
$glyphicon-basic-chevron-last-up: "\ed93";
$glyphicon-basic-chevron-last-left: "\ed94";
$glyphicon-basic-chevron-last-right: "\ed95";
$glyphicon-basic-file-plus: "\ed96";
$glyphicon-basic-file-minus: "\ed97";
$glyphicon-basic-file-refresh: "\ed98";
$glyphicon-basic-file-lock: "\ed99";
$glyphicon-basic-file-cloud: "\ed9a";
$glyphicon-basic-user-rounded: "\ed9b";
$glyphicon-basic-user-squared: "\ed9c";
$glyphicon-basic-drop-down: "\ed9d";
$glyphicon-basic-drop-plus: "\ed9e";
$glyphicon-basic-block-move: "\ed9f";
$glyphicon-basic-fingerprint-scan: "\eda0";
$glyphicon-basic-fingerprint: "\eda1";
$glyphicon-basic-fingerprint-lock: "\eda2";
$glyphicon-basic-fingerprint-check: "\eda3";
$glyphicon-basic-fingerprint-remove: "\eda4";
$glyphicon-basic-satellite: "\eda5";
$glyphicon-basic-satellite-dish: "\eda6";
$glyphicon-basic-satellite-dish-alt: "\eda7";
$glyphicon-basic-robot: "\eda8";
$glyphicon-basic-radar: "\eda9";
$glyphicon-basic-battery-charging: "\edaa";
$glyphicon-basic-battery-charged: "\edab";
$glyphicon-basic-battery-three-quarters: "\edac";
$glyphicon-basic-battery-half: "\edad";
$glyphicon-basic-battery-quarter: "\edae";
$glyphicon-basic-battery-low: "\edaf";
$glyphicon-basic-arrow-thin-down: "\edb0";
$glyphicon-basic-arrow-thin-up: "\edb1";
$glyphicon-basic-arrow-thin-left: "\edb2";
$glyphicon-basic-arrow-thin-right: "\edb3";
$glyphicon-basic-male: "\edb4";
$glyphicon-basic-female: "\edb5";
$glyphicon-basic-virgin-female: "\edb6";
$glyphicon-basic-intersex: "\edb7";
$glyphicon-basic-transgender: "\edb8";
$glyphicon-basic-lesbian: "\edb9";
$glyphicon-basic-gay: "\edba";
$glyphicon-basic-hetero: "\edbb";
$glyphicon-basic-other: "\edbc";
$glyphicon-basic-unknown: "\edbd";
$glyphicon-basic-square-plus: "\edbe";
$glyphicon-basic-square-minus: "\edbf";
$glyphicon-basic-square-remove: "\edc0";
$glyphicon-basic-square-check: "\edc1";
$glyphicon-basic-square-question: "\edc2";
$glyphicon-basic-square-info: "\edc3";
$glyphicon-basic-square-alert: "\edc4";
$glyphicon-basic-subtitles: "\edc5";
$glyphicon-basic-computer-network: "\edc6";
$glyphicon-basic-computer-network-alt: "\edc7";
$glyphicon-basic-subtitles-off: "\edc8";
$glyphicon-basic-subtitles-plus: "\edc9";
$glyphicon-basic-subtitles-minus: "\edca";
$glyphicon-basic-audio-description-d: "\edcb";
$glyphicon-basic-audio-description: "\edcc";
$glyphicon-basic-square-play: "\edcd";
$glyphicon-basic-square-down: "\edce";
$glyphicon-basic-square-up: "\edcf";
$glyphicon-basic-square-left: "\edd0";
$glyphicon-basic-square-right: "\edd1";
$glyphicon-basic-vr-inside: "\edd2";
$glyphicon-basic-vr: "\edd3";
$glyphicon-basic-user-vr: "\edd4";
$glyphicon-basic-user-vr-plus: "\edd5";
$glyphicon-basic-user-vr-minus: "\edd6";
$glyphicon-basic-view-full: "\edd7";
$glyphicon-basic-view-half: "\edd8";
$glyphicon-basic-puzzle: "\edd9";
$glyphicon-basic-door-open: "\edda";
$glyphicon-basic-door-close: "\eddb";
$glyphicon-basic-package: "\eddc";
$glyphicon-basic-one-day-delivery: "\eddd";
$glyphicon-basic-forklift: "\edde";
$glyphicon-basic-transport-trolley: "\eddf";
$glyphicon-basic-simple-trolley: "\ede0";
$glyphicon-basic-palette-package: "\ede1";
$glyphicon-basic-warehouse: "\ede2";
$glyphicon-basic-this-side-up: "\ede3";
$glyphicon-basic-terminal-empty: "\ede4";
$glyphicon-basic-terminal: "\ede5";
$glyphicon-basic-candle: "\ede6";
$glyphicon-basic-balloon: "\ede7";
$glyphicon-basic-balloons: "\ede8";
$glyphicon-basic-missile: "\ede9";
$glyphicon-basic-step-back: "\edea";
$glyphicon-basic-step-forward: "\edeb";
$glyphicon-basic-undo: "\edec";
$glyphicon-basic-redo: "\eded";
$glyphicon-basic-three-dimensional: "\edee";
$glyphicon-basic-three-dimensional-full: "\edef";
$glyphicon-basic-factory: "\edf0";
$glyphicon-basic-factory-alt: "\edf1";
$glyphicon-basic-user-worker: "\edf2";
$glyphicon-basic-barrel: "\edf3";
$glyphicon-basic-dice-one: "\edf4";
$glyphicon-basic-dice-two: "\edf5";
$glyphicon-basic-dice-three: "\edf6";
$glyphicon-basic-dice-four: "\edf7";
$glyphicon-basic-dice-five: "\edf8";
$glyphicon-basic-dice-six: "\edf9";
$glyphicon-basic-slightly-smiling: "\edfa";
$glyphicon-basic-slightly-frowning: "\edfb";
$glyphicon-basic-pool: "\edfc";
$glyphicon-basic-tennis: "\edfd";
$glyphicon-basic-badminton: "\edfe";
$glyphicon-basic-restart: "\edff";
$glyphicon-basic-replay: "\ee00";
$glyphicon-basic-honeycombs: "\ee01";
$glyphicon-basic-honeybee: "\ee02";
$glyphicon-basic-honey: "\ee03";
$glyphicon-basic-fan: "\ee04";
$glyphicon-basic-wind: "\ee05";
$glyphicon-basic-rechargeable: "\ee06";
$glyphicon-basic-mobile-phone-lock: "\ee07";
$glyphicon-basic-mobile-phone-check: "\ee08";
$glyphicon-basic-mobile-phone-cogwheel: "\ee09";
$glyphicon-basic-mobile-phone-alert: "\ee0a";
$glyphicon-basic-power-plant-wind: "\ee0b";
$glyphicon-basic-power-plant-solar: "\ee0c";
$glyphicon-basic-power-plant-water: "\ee0d";
$glyphicon-basic-rewind-five: "\ee0e";
$glyphicon-basic-rewind-ten: "\ee0f";
$glyphicon-basic-rewind-fifteen: "\ee10";
$glyphicon-basic-rewind-thirty: "\ee11";
$glyphicon-basic-forward-five: "\ee12";
$glyphicon-basic-forward-ten: "\ee13";
$glyphicon-basic-forward-fifteen: "\ee14";
$glyphicon-basic-forward-thirty: "\ee15";
$glyphicon-basic-passport: "\ee16";
$glyphicon-basic-passport-alt: "\ee17";
$glyphicon-basic-speech-bubble-question: "\ee18";
$glyphicon-basic-speech-bubble-info: "\ee19";
$glyphicon-basic-speech-bubble-alert: "\ee1a";
$glyphicon-basic-reload-alt: "\ee1b";
$glyphicon-basic-power-cord-plug: "\ee1c";
$glyphicon-basic-power-cord-plug-off: "\ee1d";
$glyphicon-basic-wireless-charging: "\ee1e";
$glyphicon-basic-tv-streaming: "\ee1f";
$glyphicon-basic-cheque: "\ee20";
$glyphicon-basic-cheque-off: "\ee21";
$glyphicon-basic-buildings-mixed: "\ee22";
$glyphicon-basic-buildings-city: "\ee23";
$glyphicon-basic-buildings-park: "\ee24";
$glyphicon-basic-highway: "\ee25";
$glyphicon-basic-traffic-lights: "\ee26";
$glyphicon-basic-traffic-lights-off: "\ee27";
$glyphicon-basic-circle-more: "\ee28";
$glyphicon-basic-square-more: "\ee29";
$glyphicon-basic-circle-menu: "\ee2a";
$glyphicon-basic-square-menu: "\ee2b";
$glyphicon-basic-list-letters: "\ee2c";
$glyphicon-basic-list-numbers: "\ee2d";
$glyphicon-basic-initial-letter: "\ee2e";
$glyphicon-basic-brain: "\ee2f";
$glyphicon-basic-brain-ai: "\ee30";
$glyphicon-basic-artificial-intelligence: "\ee31";
$glyphicon-basic-microchip: "\ee32";
$glyphicon-basic-filter-off: "\ee33";
$glyphicon-basic-book-library-search: "\ee34";
$glyphicon-basic-files-queue: "\ee35";
$glyphicon-basic-cloud-off: "\ee36";
$glyphicon-basic-trending: "\ee37";
$glyphicon-basic-disappearing: "\ee38";
$glyphicon-basic-layers: "\ee39";
$glyphicon-basic-layers-plus: "\ee3a";
$glyphicon-basic-layers-minus: "\ee3b";
$glyphicon-basic-layers-lock: "\ee3c";
$glyphicon-basic-layers-down: "\ee3d";
$glyphicon-basic-layers-up: "\ee3e";
$glyphicon-basic-layers-cogwheel: "\ee3f";
$glyphicon-basic-axes-three-dimensional: "\ee40";
$glyphicon-basic-axes-two-dimensional: "\ee41";
$glyphicon-basic-rulers: "\ee42";
$glyphicon-basic-spell-check: "\ee43";
$glyphicon-basic-spell-check-check: "\ee44";
$glyphicon-basic-globe-data: "\ee45";
$glyphicon-basic-map-satellite: "\ee46";
$glyphicon-basic-map-cadastral: "\ee47";
$glyphicon-basic-map-aerial: "\ee48";
$glyphicon-basic-map-tourist: "\ee49";
$glyphicon-basic-cookie: "\ee4a";
$glyphicon-basic-cookie-alt: "\ee4b";
$glyphicon-basic-cookies: "\ee4c";
$glyphicon-basic-cash-register: "\ee4d";
$glyphicon-basic-cash-register-alt: "\ee4e";
$glyphicon-basic-hard-drive-no: "\ee4f";
$glyphicon-basic-switch-off: "\ee50";
$glyphicon-basic-switch-on: "\ee51";
$glyphicon-basic-receipt: "\ee52";
$glyphicon-basic-invoice: "\ee53";
$glyphicon-basic-usb-device: "\ee54";
$glyphicon-basic-usb-device-lock: "\ee55";
$glyphicon-basic-usb-device-no: "\ee56";
$glyphicon-basic-usb-device-cogwheel: "\ee57";
$glyphicon-basic-usb-device-eject: "\ee58";
$glyphicon-basic-memory-card: "\ee59";
$glyphicon-basic-memory-card-lock: "\ee5a";
$glyphicon-basic-memory-card-no: "\ee5b";
$glyphicon-basic-memory-card-cogwheel: "\ee5c";
$glyphicon-basic-memory-card-eject: "\ee5d";
$glyphicon-basic-celeriac: "\ee5e";
$glyphicon-basic-celery: "\ee5f";
$glyphicon-basic-lupin: "\ee60";
$glyphicon-basic-mustard: "\ee61";
$glyphicon-basic-sesame: "\ee62";
$glyphicon-basic-peanuts: "\ee63";
$glyphicon-basic-invoice-plus: "\ee64";
$glyphicon-basic-invoice-minus: "\ee65";
$glyphicon-basic-invoice-alert: "\ee66";
$glyphicon-basic-invoice-check: "\ee67";
$glyphicon-basic-molluscs: "\ee68";
$glyphicon-basic-percent-sign: "\ee69";
$glyphicon-basic-mobile-phone-scan: "\ee6a";
$glyphicon-basic-mobile-phone-nfc: "\ee6b";
$glyphicon-basic-mobile-phone-charger: "\ee6c";
$glyphicon-basic-iris-scan: "\ee6d";
$glyphicon-basic-face-scan: "\ee6e";
$glyphicon-basic-voice-scan: "\ee6f";
$glyphicon-basic-user-voice: "\ee70";
$glyphicon-basic-head-voice: "\ee71";
$glyphicon-basic-shadows: "\ee72";
$glyphicon-basic-highlights: "\ee73";
$glyphicon-basic-vignetting: "\ee74";
$glyphicon-basic-correction-skewed: "\ee75";
$glyphicon-basic-correction-skewed-alt: "\ee76";
$glyphicon-basic-correction-tilted: "\ee77";
$glyphicon-basic-correction-auto: "\ee78";
$glyphicon-basic-safe-open: "\ee79";
$glyphicon-basic-safe: "\ee7a";
$glyphicon-basic-safe-digital: "\ee7b";
$glyphicon-basic-stats-one-day: "\ee7c";
$glyphicon-basic-stats-bars-one-day: "\ee7d";
$glyphicon-basic-stats-circle-one-day: "\ee7e";
$glyphicon-basic-disinfection-spray: "\ee7f";
$glyphicon-basic-disinfection-spray-small: "\ee80";
$glyphicon-basic-disinfection-soap: "\ee81";
$glyphicon-basic-sidebar: "\ee82";
$glyphicon-basic-sidebar-right: "\ee83";
$glyphicon-basic-toilet-paper: "\ee84";
$glyphicon-basic-toilet-paper-alt: "\ee85";
$glyphicon-basic-gloves: "\ee86";
$glyphicon-basic-tongue: "\ee87";
$glyphicon-basic-tongue-off: "\ee88";
$glyphicon-basic-nose: "\ee89";
$glyphicon-basic-nose-off: "\ee8a";
$glyphicon-basic-factory-off: "\ee8b";
$glyphicon-basic-government-off: "\ee8c";
$glyphicon-basic-blackboard-off: "\ee8d";
$glyphicon-basic-cart-off: "\ee8e";
$glyphicon-basic-dumbbell-off: "\ee8f";
$glyphicon-basic-face-mask-gas-full: "\ee90";
$glyphicon-basic-door-handle: "\ee91";
$glyphicon-basic-cursor: "\ee92";
$glyphicon-basic-dock: "\ee93";
$glyphicon-basic-dock-left: "\ee94";
$glyphicon-basic-dock-right: "\ee95";
$glyphicon-basic-socket-b: "\ee96";
$glyphicon-basic-socket-e: "\ee97";
$glyphicon-basic-socket-i: "\ee98";
$glyphicon-basic-socket-g: "\ee99";
$glyphicon-basic-scissors-horizontal: "\ee9a";
$glyphicon-settings: "\ee9b";
$glyphicon-train: "\ee9c";
$glyphicon-user1: "\ee9d";
$glyphicon-user-minus: "\ee9e";
$glyphicon-user-plus: "\ee9f";
$glyphicon-file: "\e900";
$glyphicon-file-alert: "\e901";
$glyphicon-file-audio: "\e902";
$glyphicon-file-broken: "\e903";
$glyphicon-file-check: "\e904";
$glyphicon-file-cloud: "\e905";
$glyphicon-file-database: "\e906";
$glyphicon-file-disc-image: "\e907";
$glyphicon-file-font: "\e908";
$glyphicon-file-heart: "\e909";
$glyphicon-file-image: "\e90a";
$glyphicon-file-incoming: "\e90b";
$glyphicon-file-incomplete: "\e90c";
$glyphicon-file-info: "\e90d";
$glyphicon-file-invisible: "\e90e";
$glyphicon-file-lock: "\e90f";
$glyphicon-file-minus: "\e910";
$glyphicon-file-music: "\e911";
$glyphicon-file-no: "\e912";
$glyphicon-file-package: "\e913";
$glyphicon-file-photo: "\e914";
$glyphicon-file-plus: "\e915";
$glyphicon-file-presentation: "\e916";
$glyphicon-file-program: "\e917";
$glyphicon-file-question: "\e918";
$glyphicon-file-remove: "\e919";
$glyphicon-file-rich-text: "\e91a";
$glyphicon-file-script: "\e91b";
$glyphicon-file-search: "\e91c";
$glyphicon-file-settings: "\e91d";
$glyphicon-file-spreadsheet: "\e91e";
$glyphicon-file-stats: "\e91f";
$glyphicon-file-terminal: "\e920";
$glyphicon-file-text: "\e921";
$glyphicon-file-unlock: "\e922";
$glyphicon-file-vector: "\e923";
$glyphicon-file-video: "\e924";
$glyphicon-file-visible: "\e925";
$glyphicon-file-web: "\e926";
$glyphicon-file-zip: "\e927";
$glyphicon-folder: "\e928";
$glyphicon-folder-alert: "\e929";
$glyphicon-folder-applications: "\e92a";
$glyphicon-folder-archive: "\e92b";
$glyphicon-folder-burnable: "\e92c";
$glyphicon-folder-burnable-alt: "\e92d";
$glyphicon-folder-check: "\e92e";
$glyphicon-folder-cloud: "\e92f";
$glyphicon-folder-desktop: "\e930";
$glyphicon-folder-documents: "\e931";
$glyphicon-folder-downloads: "\e932";
$glyphicon-folder-favorites: "\e933";
$glyphicon-folder-games: "\e934";
$glyphicon-folder-heart: "\e935";
$glyphicon-folder-home: "\e936";
$glyphicon-folder-image: "\e937";
$glyphicon-folder-info: "\e938";
$glyphicon-folder-invisible: "\e939";
$glyphicon-folder-library: "\e93a";
$glyphicon-folder-lock: "\e93b";
$glyphicon-folder-minus: "\e93c";
$glyphicon-folder-music: "\e93d";
$glyphicon-folder-network: "\e93e";
$glyphicon-folder-network-off: "\e93f";
$glyphicon-folder-no: "\e940";
$glyphicon-folder-open: "\e941";
$glyphicon-folder-photo: "\e942";
$glyphicon-folder-plus: "\e943";
$glyphicon-folder-question: "\e944";
$glyphicon-folder-remove: "\e945";
$glyphicon-folder-search: "\e946";
$glyphicon-folder-settings: "\e947";
$glyphicon-folder-shared: "\e948";
$glyphicon-folder-smart: "\e949";
$glyphicon-folder-unlock: "\e94a";
$glyphicon-folder-uploads: "\e94b";
$glyphicon-folder-user: "\e94c";
$glyphicon-folder-users: "\e94d";
$glyphicon-folder-video: "\e94e";
$glyphicon-folder-visible: "\e94f";

