ion-content {
    ion-toolbar {
        border-bottom: 1px solid #dedede;
        --min-height: 57px !important;
        height: 57px;

        ion-title {
            margin: auto 0;
            margin-top: -1px;
            padding: 0 10px 0 10px;
        }
    }
}