:host {
  .read-only {
    color: #666666;
  }
  .label-stacked {
    font-size: 16px;
  }

  ion-textarea {
    white-space: pre-wrap;
  }
}

ion-content { 
  --overflow: hidden!important; 
  overflow: hidden!important; 
} 

@media (min-width: 768px) {
ion-content ion-list { 
  overflow: auto!important; 
  height: calc(100vh - 160px)!important;
  padding-bottom: 50px;
}
}

@media (max-width: 767px) {
  ion-content ion-list { 
    overflow: auto!important; 
    height: calc(100vh - 90px)!important;
    padding-bottom: 50px;
  }
  }

