<ion-header>
    <ion-toolbar class="level-1">
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot="start">
            <ion-button id="arrow-back-ion-button" slot="icon-only" (click)="returnToPrevious()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!layoutManager.splitPaneVisible && !isLoading">
            {{rolePermission ? rolePermission.description: ''}} Permission <ion-icon *ngIf="!role?.arePermissionsEditable" name="lock-closed" size="small"></ion-icon>
        </ion-title>
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible && !isLoading && role?.arePermissionsEditable" slot="end">
            <ng-container *ubAllowAccess="permission.ManageRoles">
                <app-entity-action-button-list
                    [actionButtonList]="actionButtonList">
                </app-entity-action-button-list>
            </ng-container>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible" class="level-2">
        <ion-buttons slot="start">
            <ion-button id="arrow-back-ion-button" slot="icon-only" (click)="returnToPrevious()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!isLoading">
            {{rolePermission ? rolePermission.description: ''}} Permission <ion-icon *ngIf="!role?.arePermissionsEditable" name="lock-closed" size="small"></ion-icon>
        </ion-title>
        <ion-buttons slot="end" *ngIf="!isLoading && role?.arePermissionsEditable">
            <ng-container *ubAllowAccess="permission.ManageRoles">
                <app-entity-action-button-list
                    [actionButtonList]="actionButtonList">
                </app-entity-action-button-list>
            </ng-container>
        </ion-buttons>
    </ion-toolbar>

    <loader *ngIf='isLoading'></loader>

    <div *ngIf="!isLoading && !errorMessage">
        <div>
            <app-entity-details-list [@contentAnimation]
                                     [detailsListItems]="detailsListItems"
                                     [hasItemLines]="false"
                                     [hasGroupLines]="true">
            </app-entity-details-list>
        </div>
    </div>
    <div *ngIf="errorMessage" class="tab-content content-error" [@contentAnimation]>
        <p class="ion-text-center">{{ errorMessage }}</p>
    </div>
</ion-content>
