<html lang="en">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    Warning: The @Model.productName product for @Model.tenantName will soon run out of claim numbers.<br />
    <br />Currently @Model.remainingNumber claim numbers remain.
    Please arrange to have more claim numbers added to the product soon, or you risk not being able to generate new claims.<br />
    <br />This is a system generated message, please do not reply.
</body>
</html>
