<html lang="en">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    Critical: The @Model.productName product for @Model.tenantName will run out of claim numbers imminently.<br />
    <br />Only @Model.remainingNumber claim numbers remain. 
    You must arrange to have more claim numbers added to the product immediately, or new claims cannot be generated.
    <br /><br />
    This is a system generated message, please do not reply.
</body>
</html>
