<html lang="en">
<body>
    Critical: The @Model.productName product for @Model.tenantName will run out of invoice numbers imminently.<br />
    <br />Only @Model.remainingNumber invoice numbers remain.
    You must arrange to have more invoice numbers added to the product immediately, or new invoices cannot be generated.
    <br /><br />
    This is a system generated message, please do not reply.
</body>
</html>
