<html lang="en">
<body>
    Warning: The @Model.productName product for @Model.tenantName will soon run out of invoice numbers.<br />
    <br />Currently @Model.remainingNumber invoice numbers remain.
    Please arrange to have more invoice numbers added to the product soon, or you risk not being able to generate new invoices.<br />
    <br />This is a system generated message, please do not reply.
</body>
</html>
