<html lang="en">
<body>
    Critical: The @Model.productName product for @Model.tenantName will run out of policy numbers imminently.<br />
    <br />Only @Model.remainingNumber policy numbers remain.
    You must arrange to have more policy numbers added to the product immediately, or new policies cannot be generated.
    <br /><br />
    This is a system generated message, please do not reply.
</body>
</html>
