<html lang="en">
<body>
    Warning: The @Model.productName uBind product for @Model.tenantName will soon run out of policy numbers.<br />
    <br />Currently @Model.remainingNumber policy numbers remain.
    Please arrange to have more policy numbers added to the product soon, or you risk not being able to generate new policies.<br />
    <br />This is a system generated message, please do not reply.
</body>
</html>
