@model UBind.Application.Export.ViewModels.ApplicationEventViewModel

<p style="font-family: Arial; font-size:13px;">Dear Client,</p>

<p style="font-family: Arial; font-size:13px;">Thank you for choosing to insure your property with 'Property Club Insurance' trading as PSC Insurance Brokers.</p>

<p style="font-family: Arial; font-size:13px;">Attached you will find the following documentation for your attention:</p>

<ul style="font-family: Arial; font-size:13px;">
    <li>Tax Invoice & Policy Schedule</li>
    <li>PSC Landlords Insurance Package Policy Wording & Product Disclosure Statement (PDS)</li>
    <li>Certificate of Currency</li>
    <li>Financial Services Guide (FSG)</li>
</ul>

<p style="font-family: Arial; font-size:13px;">If you have any queries in relation to your insurance, or require any amendments to you policy, please do not hesitate to contact us on the details below.</p>

<p style="font-family: Arial; font-size:13px;">Kind regards,<br /><br />Property Club Insurance Team<br /><a href="tel:1300692109">1300 692 109</a><br /><a href="mailto:propertyclub@pscinsurance.com.au">propertyclub@pscinsurance.com.au</a></p>

<p style="font-family: Arial; font-size:13px;">&nbsp;</p>