<ion-header>
    <ion-toolbar color="primary" class="level-1">
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot="start">
            <ion-button slot="icon-only" (click)="userDidTapReturnButton()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!layoutManager.splitPaneVisible">DKIM Settings</ion-title>
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot="end">
            <app-entity-action-button-list
                [actionButtonList]="actionButtonList">
            </app-entity-action-button-list>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible" class="level-2">
        <ion-buttons slot="start">
            <ion-button slot="icon-only" (click)="userDidTapReturnButton()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="layoutManager.splitPaneVisible">DKIM Settings</ion-title>
        <ion-buttons slot="end">
            <app-entity-action-button-list
                [actionButtonList]="actionButtonList">
            </app-entity-action-button-list>
        </ion-buttons>
    </ion-toolbar>
    <loader *ngIf='isLoading'></loader>
    <ng-container *ngIf="!isLoading">
        <ion-list *ngIf="dkimSettings && dkimSettings?.length > 0" class="entity-list" lines="none">
            <div *ngFor="let dkimSetting of dkimSettings">
                <ion-item (click)="dkimSettingSelected(dkimSetting)" button>
                    <library-icon name="mail" [library]="iconLibrary.IonicV4" [slot]="'start'"></library-icon>
                    <ion-label class="label">
                        <div>{{dkimSetting.domainName}}</div>
                        <p class="status">{{ dkimSetting.applicableDomainNames }}</p>
                    </ion-label>
                </ion-item>
            </div>
        </ion-list>
        <div *ngIf="dkimSettings?.length == 0" class="tab-content content-error">
            <p class="ion-text-center">No active domains found</p>
        </div>
    </ng-container>

    <div *ngIf="errorMessage" class="tab-content content-error" [@contentAnimation]>
        <p class="ion-text-center">{{ errorMessage }}</p>
    </div>
</ion-content>