<field-debug *ngIf="applicationService.debug" [field]="this"></field-debug>
<input
    type="password"
    class="form-control tabbable"
    [id]="fieldPath | cssIdentifier"
    [name]="key"
    [formControl]="formControl"
    [formatTextInput]="textInputFormat"
    [attr.placeholder]="placeholderText"
    (change)="onChange($event)"
    (keyup)="onKeyUp($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)" 
    [attr.inputmode]="keyboardInputMode"
    (keydown)="onKeyDown($event)"
    tabindex="0"/>
