@model UBind.Application.Export.ViewModels.ApplicationEventViewModel

<p style="font-family: Arial; font-size:13px;">Hi @Model.Form["name"],</p>

<p style="font-family: Arial; font-size:13px;">Please find attached your invoice from Promo In A Box.</p>

<p style="font-family: Arial; font-size:13px;">Cheers,</p>

<p style="font-family: Arial; font-size:13px;">The Team at <font color="#df0081">Promo in a Box&reg;</font></p>

<p style="font-family: Arial; font-size:11px;">Promo In A Box is a trading name of Insure My Promo Pty Ltd. Authorised Representatives of YourCover Pty Ltd. AFSL No. 461299. CAR No. 001256210.<br/>
The information contained in this e-mail message is confidential and may be privileged. If you are not the intended recipient, any distribution or copying is strictly prohibited. If you think that you received this e-mail in error, please notify the sender immediately and destroy this email.</font></p>