@model UBind.Application.Export.ViewModels.ApplicationEventViewModel

<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p style="color: #444; font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi @Model.Form["name"],</p>
                    <p style="color: #444; font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Please find attached your invoice from Promo in a Box.</p>
                  </td>
                </tr>
                <tr>
                  <td><p style="color: #444; font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Cheers,</p></td>
                </tr>
                <tr>
                  <td><p style="color: #444; font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">The Team at <span style="color:#df0081;font-weight:600;display:inline">Promo in a Box®</span></p></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <img src="https://i.ontraport.com/27196.9665b5afbfe92d0eb932e731f2aa587b.PNG" style="width:181px;height:34px">          
            </td>
          </tr>
          <tr>
            <td>
              <p style="color: #444; font-family:sans-serif; line-height: 1.2em; font-size: 6.5pt;">Promo in a box is a trading name of Insure My Promo Pty Ltd. Authorised representatives of YourCover Pty Ltd. AFSL No. 461299. CAR No. 001256210. The information contained in this e-mail message is confidential and may be privileged. If you are not the intended recipient, any distribution or copying is strictly prohibited.  If you think that you received this e-mail in error, please notify the sender immediately and destroy this email.</p>                  
            </td>
          </tr>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>


    