:host {
    .ion-text>p {
        color: #737373 !important;
    }

    @media (max-width: 767px) {

        .list-md {
            padding: 0px 15px !important;
        }

        .ion-text {
            margin-top: 25px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}