:host {
    display: block;
    background-image: url(/assets/material-spinner.png);
    background-size: contain;
    background-color: transparent;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}