<field-debug *ngIf="applicationService.debug" [field]="this"></field-debug>
<input
    type="text"
    class="form-control tabbable"
    [id]="fieldPath | cssIdentifier"
    [name]="key"
    [formControl]="formControl"
    [readonly]="readOnly"
    [formatTextInput]="textInputFormat"
    [attr.placeholder]="inputMask?.placeholderText ?? placeholderText"
    (change)="onChange($event)"
    (keyup)="onKeyUp($event)"
    (keydown)="onKeyDown($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [attr.inputmode]="keyboardInputMode"
    [attr.aria-label]="ariaLabelByKey"
    [mask]="inputMask?.mask"
    [separatorLimit]="inputMask?.preDecimalDigitCountLimit"
    [allowNegativeNumbers]="inputMask?.allowNegativeNumberValue"
    [prefix]="inputMask?.hidePrefixWhenInputValueIsEmpty && (formControl.value === '' || formControl.value === null || formControl.value === inputMask?.prefix) ? '': inputMask?.prefix"
    [suffix]="inputMask?.hideSuffixWhenInputValueIsEmpty && (formControl.value === '' || formControl.value === null || formControl.value === inputMask?.suffix) ? '': inputMask?.suffix"
    [leadZeroDateTime]="inputMask?.padDateAndTimeValuesWithLeadingZeros"
    [dropSpecialCharacters]="inputMask?.removeNonInputCharactersFromValue"
    [placeHolderCharacter]="inputMask?.placeholderPatternInputCharacter"
    [showMaskTyped]="inputMask?.typeOverPlaceholderPattern"
    [specialCharacters]="inputMask?.specialCharacters"
    [thousandSeparator]="inputMask?.thousandSeparator"
    tabindex="0"/>
