<ion-header>
    <ion-toolbar class="level-1">
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot="start">
            <ion-button slot="icon-only" (click)="closeButtonClicked()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!layoutManager.splitPaneVisible">Assign {{existingAssignedPortalId ? 'New ': ''}}Portal</ion-title>
        <ion-buttons *ngIf="!layoutManager.splitPaneVisible" slot="end">
            <ion-button (click)="handleAssignButtonClicked()">
                Assign
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="left-pane" [@contentAnimation]>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible" class="level-2">
        <ion-buttons slot="start">
            <ion-button slot="icon-only" (click)="closeButtonClicked()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Assign {{existingAssignedPortalId ? 'New ': ''}}Portal</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="handleAssignButtonClicked()">
                Assign
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-list lines="none">
        <mat-radio-group [value]="null" (change)="change($event)">
            <ng-container *ngFor="let portal of portals">
                <ion-item>
                    <mat-radio-button [id]="'portal_' + portal.id" slot="start" [value]="portal.id">
                        <div class="portal-label-content">
                            <library-icon name="browsers" 
                            [library]="iconLibrary.IonicV4" 
                            [slot]="'start'" 
                            [cssClass]="'medium'"
                            class="portal-icon-container"></library-icon> 
                            <span class="portal-label-name">{{portal.name}}</span>
                        </div>
                    </mat-radio-button >  
                </ion-item>
            </ng-container>
        </mat-radio-group>
    </ion-list>
    <div *ngIf="portals?.length == 0 && !errorMessage && !isLoading" class="tab-content content-error">
        <p class="ion-text-center">No portal found</p>
    </div>
    <div *ngIf="errorMessage && !isLoading" class="tab-content content-error" [@contentAnimation]>
        <p class="ion-text-center">{{ errorMessage }}</p>
    </div>
    <ng-container *ngIf="isLoading">
        <loader></loader>
    </ng-container>
</ion-content>