form > .expression-input {
    display: flex;
    align-items: center;
    width: 100%;
}

form > .expression-input > mat-form-field {
    flex-grow: 1;
}

form button {
    height: 34px;
    margin-left: 20px;
}

mat-list-item {
    border-bottom: 1px dashed #cccccc;
    height: auto !important;
    min-height: 48px;
}

mat-list-item:last-child {
    border-bottom: none;
}

.watched-expression-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0;

    > .debug {
       flex-grow: 1;
       overflow-x: auto;

       .debug-property {
            display: block       
       }
    }
}