<ion-header>
    <ion-toolbar class="level-1">
        <ion-title role="heading" aria-level="1">Reset Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'vertical-align-content': !layoutManager.isMobile()}">

    <loader *ngIf="isLoading || invitationValid == null"></loader>

    <!--Desktop/Tablet UI-->
    <ion-card class="account-card" *ngIf="!layoutManager.isMobile() && invitationValid">
        <ion-card-header>
            <ion-card-title>
                Reset Password
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="account-container ion-no-margin" full>
                <ng-container [ngTemplateOutlet]="resetPasswordFormTemplate"></ng-container>
            </div>
        </ion-card-content>
    </ion-card>

    <!--Mobile UI-->
    <div class="account-container ion-padding" *ngIf="layoutManager.isMobile() && invitationValid">
        <ng-container [ngTemplateOutlet]="resetPasswordFormTemplate"></ng-container>
    </div>

</ion-content>

<app-powered-by class="left"></app-powered-by>

<ng-template #resetPasswordFormTemplate>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="userDidTapResetPassword(resetPasswordForm.value)">

        <ion-item *ngIf="errorDisplay" class="error">
            <ion-label color="danger">{{ errorDisplay }}</ion-label>
        </ion-item>

        <ion-list lines="none">
            <p>To reset the password for your account, please enter and confirm your new password below.</p>

            <div class="accountForm ion-margin-bottom">
                <ion-item class="input" [class.ng-touched]="resetPasswordForm.get('password').touched && resetPasswordForm.get('password').errors">
                    <ion-label position="floating">New Password</ion-label>
                    <ion-input (keydown.enter)="userDidTapResetPassword(resetPasswordForm.value)" formControlName="password" type="password"></ion-input>
                </ion-item>
                <div class="error" *ngIf="resetPasswordForm.get('password').invalid && (formHasError || resetPasswordForm.get('password').touched)">
                    <div class="account-error" *ngIf="resetPasswordForm.get('password').hasError('required')">
                        Password is required
                    </div>
                    <div class="account-error" *ngIf="resetPasswordForm.get('password').hasError('pattern')">
                        Your password must be at least 12 characters long and must contain at least one uppercase letter, one lowercase letter, one number and one special character (a character that is neither a letter nor a number)
                    </div>
                </div>
                <ion-item class="input" [class.ng-touched]="resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.get('confirmPassword').errors">
                    <ion-label position="floating">Confirm Password</ion-label>
                    <ion-input (keydown.enter)="userDidTapResetPassword(resetPasswordForm.value)" formControlName="confirmPassword" type="password"></ion-input>
                </ion-item>
                <div class="error" *ngIf="(resetPasswordForm.get('confirmPassword').touched || formHasError) && (resetPasswordForm.get('confirmPassword').invalid || resetPasswordForm.hasError('mismatchedPasswords'))">
                    <div class="account-error" *ngIf="resetPasswordForm.get('password').valid  && !resetPasswordForm.get('confirmPassword').hasError('required') && resetPasswordForm.hasError('mismatchedPasswords')">
                        Passwords do not match
                    </div>
                    <div class="account-error" *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                        Password confirmation is required
                    </div>
                </div>
            </div>
            <ion-button expand="block" type="submit">Reset Password</ion-button>
            <ion-button class="ion-margin-top" color="light" expand="block" type="button" (click)="userDidTapCancel()">Cancel</ion-button>
        </ion-list>
    </form>
</ng-template>
