<ion-header>
    <ion-toolbar color="primary" class="level-1">
        <ng-container *ngIf="!layoutManager.splitPaneVisible" [ngTemplateOutlet]="toolbarButtons"></ng-container>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible" class="level-2">
        <ng-container [ngTemplateOutlet]="toolbarButtons"></ng-container>
    </ion-toolbar>
    <loader *ngIf="isLoading"></loader>
    <div *ngIf="!isLoading && !errorMessage">
        <app-entity-details-list [@contentAnimation] [detailsListItems]="detailsListItems" [hasItemLines]="false"
            [hasGroupLines]="true" [truncateDescription]="true">
        </app-entity-details-list>
    </div>
    <div *ngIf="errorMessage" class="tab-content content-error" [@contentAnimation]>
        <p class="ion-text-center">{{ errorMessage }}</p>
    </div>
</ion-content>

<ng-template #toolbarButtons>
    <ion-buttons slot="start">
        <ion-button slot="icon-only" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{!!dataTableDefinition ? dataTableDefinition.name : 'Data Table'}}</ion-title>
    <ion-buttons *ngIf="!isLoading && !errorMessage" slot="end">
        <ng-container>
            <app-entity-action-button-list
                [actionButtonList]="actionButtonList"
                [getMoreButtonCallback]="showMenu.bind(this)"
                [canShowMore]="true"
                [flipMoreIcon]="flipMoreIcon">
            </app-entity-action-button-list>
        </ng-container>
    </ion-buttons>
</ng-template>