form {
    ion-list {
        margin-top: 10px !important;

        ion-list-header {
            margin-bottom: -5px;
            padding-left: 0px;
        }

        ion-item {
            --background-focused: none;
            --background-hover: none;
            --ripple-color: transparent !important;
            --border-style: none;

            ion-label {
                margin-left: 10px;
            }
        }

        ion-radio-group {
            p {
                margin-bottom: 10px;
            }
        }

        div {
            padding-top: 10px;
        }

        .radio-item {
            margin-top: -10px;
            margin-bottom: -10px;
            --border-width: 0;
        }
    }
}