@model UBind.Application.Export.ViewModels.ApplicationEventViewModel

<p style="font-family: Arial; font-size:13px;">Hi @Model.Form["name"],</p>

<p style="font-family: Arial; font-size:13px;">Thank you for requesting a call-back regarding our Pet Insurance Product.</p>

<p style="font-family: Arial; font-size:13px;">A member of our team will contact you shortly using the details provided.</p>

<p style="font-family: Arial; font-size:13px;">Warm regards,<br/>The MGA Team</p>

<p style="font-family: Arial; font-size:13px;">&nbsp;</p>

<h4 style="text-indent:15px; padding: 20px 0; background: #e6eaea; width: 60%; font-family: Arial; font-size:13px;">Enquiry Details</h4>

@Raw(Model.Form.PrettyPrintHtmlExcluding("accountName", "BSB", "accountNumber"))

<h4 style="text-indent:15px; padding: 20px 0; background: #e6eaea; width: 60%; font-family: Arial; font-size:13px;">&nbsp;</h4>

<p style="font-family: Arial; font-size:13px;"><br/><strong>Best regards<br/>MGA Insurance Brokers</strong><br />&nbsp;</p>

<p><img src="https://www.mga.com/wp-content/themes/mga/dist/images/banner-logo.png" /></p>
