<ion-header>
    <ion-toolbar class="level-1">
        <ng-container *ngIf='!layoutManager.splitPaneVisible then detailHeader'></ng-container>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="layoutManager.splitPaneVisible" class="level-2">
        <ng-container *ngTemplateOutlet='detailHeader'></ng-container>
    </ion-toolbar>
    
    <loader *ngIf="isLoading"></loader>

    <div *ngIf="errorMessage" class="tab-content content-error" [@contentAnimation]>
        <p class="ion-text-center">{{ errorMessage }}</p>
    </div>

    <form *ngIf="!isLoading && !errorMessage" [formGroup]="claimNumberUpdateForm">
        <ion-list lines="none">
            <ion-list-header>
                <strong>Claim Number Update</strong>
            </ion-list-header>
            <ion-item>
                A new available claim number can be assigned to this claim automatically, or you can manually enter a unique claim number.
            </ion-item>

            <ion-item>
                <mat-radio-group formControlName="assignmentType" class="radio-group">
                    <div class="gray-label">Select Method</div>
                    <mat-radio-button class="radio-button" value="{{ClaimNumberAssignmentMethod.Automatic}}">
                        Assign automatically
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" value="{{ClaimNumberAssignmentMethod.Custom}}">
                        Enter a custom claim number
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" value="{{ClaimNumberAssignmentMethod.Unassign}}">
                        Un-assign claim number
                    </mat-radio-button>
                </mat-radio-group>
                <div class="error" *ngIf="claimNumberUpdateForm.dirty && claimNumberUpdateForm.get('assignmentType').invalid">
                    You must select an assignment method
                </div>
            </ion-item>

            <ion-item *ngIf="claimNumberUpdateForm.get('assignmentType').value == ClaimNumberAssignmentMethod.Custom">
                <ion-label position="stacked" class="gray-label item-input-label" 
                [class.item-invalid]="claimNumberUpdateForm.get('claimNumber').errors
                && claimNumberUpdateForm.get('claimNumber').touched">Claim Number</ion-label>
                <ion-input class="item-input-field" formControlName="claimNumber"></ion-input>
            </ion-item>
            <div class="error validation-label"
                    *ngIf="claimNumberUpdateForm.get('assignmentType').value == ClaimNumberAssignmentMethod.Custom &&
                    claimNumberUpdateForm.get('claimNumber').getError('sameNumberError')">
                You must enter a new claim number
            </div>
            <div class="error validation-label"
                    *ngIf="claimNumberUpdateForm.get('assignmentType').value == ClaimNumberAssignmentMethod.Custom &&
                    claimNumberUpdateForm.get('claimNumber').getError('responseError')">
                {{ assignmentErrorText }}
            </div>
            <div class="error validation-label"
                    *ngIf="claimNumberUpdateForm.get('assignmentType').value == ClaimNumberAssignmentMethod.Custom &&
                    claimNumberUpdateForm.get('claimNumber').getError('pattern')">
                Claim numbers must contain only letters, numbers and the following special characters , . : ; - ( )
            </div>
            <div class="error validation-label" *ngIf="claimNumberUpdateForm.get('assignmentType').value == ClaimNumberAssignmentMethod.Custom &&
                claimNumberUpdateForm.get('claimNumber').invalid &&
                !claimNumberUpdateForm.get('claimNumber').getError('responseError') &&
                !claimNumberUpdateForm.get('claimNumber').getError('sameNumberError') &&
                !claimNumberUpdateForm.get('claimNumber').getError('pattern')">
                You must enter a claim number
            </div>

            <ion-list-header>
                <strong>Previous Claim Number</strong>
            </ion-list-header>
            <ion-item>
                When assigning a new claim number, the previously assigned claim number can be added to the list of
                claim numbers available for automatic assignment to new claims.
            </ion-item>
            <ion-item>
                <mat-checkbox formControlName="isReusePreviousClaimNumber">Reuse previous claim number</mat-checkbox>
            </ion-item>
        </ion-list>
    </form>
</ion-content>

<ng-template #detailHeader>
    <ion-buttons slot="start" class="cancelButton">
        <ion-button slot="icon-only" (click)="backToClaim()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Update Claim Number</ion-title>
    <ion-buttons slot='end'>
        <ion-button
            *ubAllowAccess="[permission.ManageClaims, permission.ManageAllClaims, permission.ManageClaimsForAllOrganisation]"
            (click)="updateClaimNumber()">
            UPDATE
        </ion-button>
    </ion-buttons>
</ng-template>
