$break-small: 768px;

:host {
    display: block;
    width: 100%;

    @media only screen and (min-width: $break-small) {
        height: 366px;
    }

    ion-card {
        @media only screen and (min-width: $break-small) {
            height: 356px;
        }
    }

    ion-text {
        width: 100%;

        h1 {
            color: white;
            font-size: 18px;
            max-width: 100%;
            white-space: normal;
            word-break: break-word; 
        }
    }

    ion-col {
        width: 50%;

        h2 {
            color: white;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    ion-select {
        padding-top: 20px;
        margin-left: 0px;
        font-size: 14px;
        color: #222428;
    }

    .number-generated {
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        padding: 10px;
    }

    .total {
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        padding: 10px;
    }

    .chart {
        display: block;
        width: 100%;
    }

    ion-item.select-period.ion-focused {
        ion-select {
            background-color: #f1f1f1;
        }
    }
}

.line-chart {
    --default-background-color-dark: #00897b;
    --default-background-color-light: #26a69a;
    --background-color-dark: var(--default-background-color-dark);
    --background-color-light: var(--default-background-color-light);
  
    --default-text-color-dark: #ffffff;
    --default-text-color-light: #ffffff;
    --text-color-dark: var(--default-text-color-dark);
    --text-color-light: var(--default-text-color-light);
  
    --default-title-color: #00897b;
    --title-color: var(--default-title-color);
  
    .background-color-dark {
      background-color: var(--background-color-dark, --default-background-color-dark);
    }
  
    .background-color-light {
      background-color: var(--background-color-light, --default-background-color-light);
    }
  
    .text-color-dark {
      color: var(--text-color-dark, --default-text-color-dark);
    }
  
    .text-color-light {
      color: var(--text-color-light, --default-text-color-light);
    }
  
    .title-color {
      color: var(--title-color, --default-title-color);
    }
  }