<app-detail-list-item-edit-form class="detail-list-item-edit-form"
                                [title]="title"
                                [items]="detailsList"
                                [isEdit]="true"
                                [editForm]="form"
                                [fieldsOptions]="fieldOptions"
                                [isLoading]="isLoading"
                                [errorMessage]="errorMessage"
                                (saveForm)="save($event)"
                                (closeForm)="close()">
</app-detail-list-item-edit-form>